body {
	font-family: 'Spectral', serif;
	line-height: 1.4;
}

p {
	line-height: 2;
}

a {
	color: crimson;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}
