---
import Layout from './_layout.astro';
---

<Layout>
	<Fragment slot="title">Projects</Fragment>

	<Fragment>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa assumenda porro dolorem tenetur, accusantium accusamus reprehenderit eligendi harum aliquam libero maxime placeat ea quidem inventore possimus perferendis doloremque? Esse, libero!</p>
	</Fragment>
</Layout>

<style>
	p {
		max-width: 70ch;
	}
</style>
