---
import Header from '../../components/Header';
import LazyMessage from '../../components/LazyMessage';
---

<html>
	<head>
		<title>Test app - Lazy component</title>
		<style>
			body {
				font-size: 18px;
			}
		</style>
	</head>
	<body>
		<Header text="Lazy component" />
		<a href="/">home</a>
		<LazyMessage />
	</body>
</html>
