<style lang="scss">
.notification {
  padding: .5rem;
  color: #fff;
  font-weight: bold;
  background-color: #b224d0;
  text-align: center;

  a {
    color: white;
  }
}
</style>

<section class="grid-banner">
  <div class="notification">
    <div class="wrapper">
      Snowpack 3.0 is out now!
      <a href="/posts/2021-01-13-snowpack-3-0">
        Read the announcement post →
      </a>
    </div>
  </div>
</section>
