---
import imgUrl from '../images/penguin.jpg';
import styleUrl from '../styles/global.css?url';
debugger;
---

<html>
<head>
  <title>Demo app</title>
  <link rel="stylesheet" href={styleUrl}>
</head>
<body>
  <h1>Penguins are cool</h1>
  <img src={imgUrl} />
</body>
</html>