---
import { getCollection, renderEntry, CollectionEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
	const blog = await getCollection('blog');
	return blog.map(post => ({
		params: { slug: post.slug },
		props: { post },
	}))
}

interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props as Props;
const { Content } = await renderEntry(post);
---

<Layout title={post.data.title}>
	<h1>{post.data.title}</h1>
	<time datetime={post.data.publishedDate.toISOString()}>{post.data.publishedDate.toDateString()}</time>
	<Content />
</Layout>
