---
import { fetchContent, renderContent } from '.astro';
import Layout from 'src/layouts/Layout.astro';

export async function getStaticPaths() {
	const blog = await fetchContent('blog');
	return blog.map(entry => ({
		params: { slug: entry.slug },
		props: { id: entry.id, title: entry.data.title },
	}))
}

const { id, title } = Astro.props;
const { Content } = await renderContent(id);
---

<Layout title={title}>
	<h1>{title}</h1>
	<Content />
</Layout>
