---
import { getCollection, renderEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
	const blog = await getCollection('blog');
	return blog.map(post => ({
		params: { slug: post.slug },
		props: { post },
	}))
}

const { post } = Astro.props;
const { Content } = await renderEntry(post);
---

<Layout title={post.data.title}>
	<h1>{post.data.title}</h1>
	<Content />
</Layout>
