---
// Component Imports
import { A, B as Renamed } from '../components';
import * as react from '../components/ReactCounter.jsx';
import { PreactCounter } from '../components/PreactCounter.tsx';
import PreactSFC from '../components/PreactSFC.tsx';
import SolidCounter from '../components/SolidCounter.tsx';
import VueCounter from '../components/VueCounter.vue';
import SvelteCounter from '../components/SvelteCounter.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <style>
        :global(:root) {
            font-family: system-ui;
            padding: 2em 0;
        }
        :global(.counter) {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            place-items: center;
            font-size: 2em;
            margin-top: 2em;
        }
        :global(.children) {
            display: grid;
            place-items: center;
            margin-bottom: 2em;
        }
    </style>
  </head>
  <body>
      <main>

        <react.Counter client:visible>
            <h1>Hello React!</h1>
            <p>What's up?</p>
        </react.Counter>

        <PreactCounter client:visible>
          <h1>Hello Preact!</h1>
        </PreactCounter>

        <SolidCounter client:visible>
          <h1>Hello Solid!</h1>
        </SolidCounter>

        <VueCounter client:visible>
            <h1>Hello Vue!</h1>
        </VueCounter>

        <SvelteCounter client:visible>
            <h1>Hello Svelte!</h1>
        </SvelteCounter>

        <A />
        
        <Renamed />

      </main>
  </body>
</html>
