---
// Style Imports
import "../styles/global.css";

// Component Imports
import ReactCounter from "../components/ReactCounter";
import PreactCounter from "../components/PreactCounter";
import SolidCounter from "../components/SolidCounter";
import VueCounter from "../components/VueCounter.vue";
import SvelteCounter from "../components/SvelteCounter.svelte";

import "../components/LitCounter"

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
			<ReactCounter client:visible>
				<h1>Hello from React!</h1>
			</ReactCounter>

			<PreactCounter client:visible>
				<h1>Hello from Preact!</h1>
			</PreactCounter>

			<SolidCounter client:visible>
				<h1>Hello from Solid!</h1>
			</SolidCounter>

			<VueCounter client:visible>
				<h1>Hello from Vue!</h1>
			</VueCounter>

			<SvelteCounter client:visible>
				<h1>Hello from Svelte!</h1>
			</SvelteCounter>

			<my-counter client:visible>
				<h1>Hello from Lit!</h1>
			</my-counter>
		</main>
	</body>
</html>
