---
import { Markdown } from 'astro/components';
import Layout from '../layouts/main.astro';

const title = `External Markdown`;
const content = `Markdown *content* to render`;
---

<Layout content={{ title }}>
  <main>
    <div>
      <Markdown {content} />
      <p>Some other stuff</p>
    </div>
    <p>Lastly...</p>
  </main>
</Layout>
