<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Astro</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body>
    <main>
        <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
    </main>
</body>
</html>
