---
import ReactCSS from '../components/ReactCSS.jsx';
import VueCSS from '../components/VueCSS.vue';
import SvelteScoped from '../components/SvelteScoped.svelte';
---

<html>
  <head>
    <meta charset="UTF-8" />
    <style lang="scss">
      .wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <ReactCSS />
      <VueCSS />
      <SvelteScoped />
    </div>
  </body>
</html>
