---
import ReactCSS from '../components/ReactCSS.jsx';
import VueCSS from '../components/VueCSS.vue';
import SvelteScoped from '../components/SvelteScoped.svelte';
---

<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div>
      <ReactCSS />
      <VueCSS />
      <SvelteScoped />
    </div>
  </body>
</html>
