---
import { Sprite } from 'astro-icon';

const { tweet: { title, href } } = Astro.props;
---

<section class="outro">
    <div class="astro-container container">
        <div class="content">
            <a class="return" href="/blog">
                <Sprite pack="mdi" name="arrow-left" size="32" aria-hidden="true" />
                <span>Return to Blog</span>
            </a>
            <a class="share-on-twitter" title="Share on Twitter" href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(title)}&url=${encodeURIComponent(href)}&via=astrodotbuild`}>
                <Sprite pack="mdi" name="twitter" size="16" />
                <span>Share</span>
            </a>
        </div>
    </div>
</section>

<style>
    .outro {
        padding: 4rem 0 0;
        width: 100%;
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 48rem;
        padding: 0;
        margin: 0 auto;
    }
    .return {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--size-600);
        font-family: var(--font-display);
        color: var(--color-purple);
        gap: 0.25em;
    }
    .share-on-twitter {
        background: var(--color-blue);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25em 0.5em;
        gap: 0.25em;
    }
    @media (min-width: 52rem) {
        .outro {
            padding: 8rem 0 0;
        }
    }
</style>
