---
import Layout from '../../layouts/MainLayout.astro';
import Card from '../../components/Card.astro';
import { Markdown } from 'astro/components';
import themes from '../../data/themes.json';
import components from '../../data/components.json';
---

<Layout content={{ title: '佈景主題' }} hideRightSidebar>
	<style>
		.card-grid {
			display: grid;
			grid-column-gap: 15px;
			grid-row-gap: 15px;
			grid-auto-flow: dense;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	</style>
	<Markdown>
		## 精選佈景主題
	</Markdown>
	<div class="card-grid">
		{themes.featured.map((item) => <Card data={item} />)}
	</div>
	<Markdown>
		## 官方佈景主題

		Astro 維護的文件網站、作品集 ⋯ 等官方佈景主題。
	</Markdown>
	<div class="card-grid">
		{themes.official.map((item) => <Card data={item} />)}
	</div>
	<Markdown>
		## 社群佈景主題

		趕緊來看看社群開發的佈景主題！
	</Markdown>
	<div class="card-grid">
		{themes.community.map((item) => <Card data={item} />)}
	</div>
	<Markdown>
		## 精選套件

		我們的套件生態持續成長！所有精選社群套件都可以在 [npm](https://www.npmjs.com/search?q=keywords%3Aastro-component) 發掘。
	</Markdown>
	<div class="card-grid">
		{components.community.map((item) => <Card data={item} />)}
	</div>
	<Markdown>
		> 想要讓自己的作品成為精選嗎？[在 Discord 分享！](https://astro.build/chat)  
		> 我們常在 `#showcase` 頻道取材，把深受喜愛的在這裡發布。
	</Markdown>
</Layout>
