---
import { getEntry } from 'astro:content';
type Props = {
	slug: string;
};

const { slug } = Astro.props;
const entry = await getEntry('author', slug);
if (!entry) throw new Error(`No author found for slug ${slug}`);
---

<h2>{entry.data.name}</h2>

<style>
	h2 {
		color: red;
	}
</style>
