@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(movie-poster),
::view-transition-new(movie-poster) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-image-pair(movie-poster) {
  isolation: none;
}

.nav {
  view-transition-name: main-header;
  contain: paint;
}

.movie-poster {
  contain: paint;
}

.person-photo {
  view-transition-name: person-photo;
  contain: paint;
}

.thumbnail {
  contain: paint;
}
