---
import BlogCard from './BlogCard.astro';
import AsText from './Prismic/AsText.astro'

export interface Props {
  slice_type: string | null;
  slice_label: string | null;
  items: Array<object>;
  primary: object;
}
const { blogData } = Astro.props
---

<section>
    <header class="major">
        <h2><AsText data={blogData.primary.featured_blogpost_title}/></h2>
    </header>
    <div class="row">
        {
            blogData.items.map(item => (
                <div class="col-4 col-6-medium col-12-small">
                    <BlogCard data={item.featured_blogpost}/>
                </div>
            ))
        }
    </div>
</section>