---
import AsText from './Prismic/AsText.astro'
import Excerpt from './Prismic/Excerpt.astro'

const { eventItem } = Astro.props
const { event_image, event_link} = eventItem
const { title, date, description} = event_link.data
const monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
const [year, month, day] = date.split('-')
const monthName = monthNames[parseInt(month) - 1].length > 3 ? monthNames[parseInt(month) - 1].substring(0, 3) : monthNames[parseInt(month) - 1]
---
<li>
    <span class="date">{monthName} <strong>{day}</strong></span>
    <h3><a href="#"><AsText data={title}/></a></h3>
    <p><Excerpt data={description}/></p>
</li>