---
import PortfolioCard from './PortfolioCard.astro'
import AsText from './Prismic/AsText.astro'

export interface Props {
  slice_type: string | null;
  slice_label: string | null;
  items: Array<object>;
  primary: object;
}
const { portfolioData } = Astro.props
---

<section>
    <header class="major">
        <h2><AsText data={portfolioData.primary.featured_projects_title}/></h2>
    </header>
    <div class="row">
        {
            portfolioData.items.map(item => (
                <PortfolioCard data={item}/>
            ))
        }
    </div>
</section>