---
import '../styles/global.css';

const { content } = Astro.props;
---

<html lang={content.lang || 'en'}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
