.header-link {
  font-size: 1rem;
  padding: 0.1rem 0 0.1rem 1rem;
  border-left: 4px solid var(--theme-divider);
}

.header-link:hover,
.header-link:focus {
  border-left-color: var(--theme-accent);
  color: var(--theme-accent);
}
.header-link:focus-within {
  color: var(--theme-text-light);
  border-left-color: hsla(var(--color-gray-40), 1);
}

.header-link.in-view {
  --theme-accent-opacity: 0.5;
  border-left-color: hsla(var(--color-orange), var(--theme-accent-opacity));
  color: hsla(var(--color-orange), var(--theme-accent-opacity));
}

.header-link.active {
  --theme-accent-opacity: 1;
  border-left-color: hsla(var(--color-orange), var(--theme-accent-opacity));
  color: hsla(var(--color-orange), var(--theme-accent-opacity));
}

.header-link svg {
  opacity: 0.6;
}
.header-link:hover svg {
  opacity: 0.8;
}
.header-link a {
  display: inline-flex;
  gap: 0.5em;
  width: 100%;
}

.header-link.depth-3 {
  padding-left: 2rem;
}
.header-link.depth-4 {
  padding-left: 3rem;
}

.header-link a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
