---
// Component Imports
import Counter from '../components/Counter.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>

		<!-- Be sure to include AlpineJS -->
		<script src="//unpkg.com/alpinejs" defer></script>
	</head>
	<body>
		<main>
			<!-- Note: no `client:load` necessary since AlpineJS is always included -->
			<Counter>
				<h1>Hello, AlpineJS!</h1>
			</Counter>

			<!-- Note: pass props to Astro components to initialize Alpine with a certain state -->
			<Counter initialCount={5}>
				<h2>Use Astro to pass in server-side props</h2>
			</Counter>
		</main>
	</body>
</html>
