---
import Section from './Section.astro';
const { reverse, gradient = false } = Astro.props;
---
<Section pad={2} class={"demo" + (gradient ? ' gradient' : '')}>
    <div class="astro-container">
        <div class="content">
            <h3 class="head-md title"><slot name="title" /></h3>
            <slot />
        </div>

        <div class={['illo', reverse ? 'reverse' : ''].filter(x => x).join(' ')}>
            <slot name="illustration" />
        </div>
    </div>
</Section>

<style>
.demo:nth-child(3) {
    padding-top: 4rem;
}
.reverse {
    padding-bottom: var(--size-1000);
}
.gradient {
    background: var(--color-tan) linear-gradient(180deg, #E5DAEE 0%, rgba(255, 255, 255, 0) 100%);
}
.astro-container {
    display: grid;
    gap: 4rem;
}

.content > :global(p) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 52ch;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.illo {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 64rem) {
    .reverse {
        order: -1;
    }
    .title {
        margin-top: -2.5ex;
    }
    .astro-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .content {
        padding: 2rem;
    }
}
@media (min-width: 82rem) {
    .illo :global(svg) {
        transform: scale(1);
    }
}
</style>
