---
import Section from './Section.astro';
import { Icon } from 'astro-icon';

const rows = [
    ['tailwindcss', 'sass', 'postcss', 'markdown', 'javascript', 'typescript'],
    ['rss', 'wordpress', 'strapi', 'prismic', 'shopify'],
    ['contentful', 'netlify-grid', 'vercel-grid', 'cloudflare', 'github'],
]
---

<Section id="frameworks">
    <div class="container content">
        <h3 class="head-md title"><slot name="title" /></h3>
        <div class="body">
            <slot />
        </div>
    </div>
    <ul class="integrations">
        {rows.map(row => row.map(icon => <li class={`icon-${icon}`}><Icon title={icon.replace(/\-grid$/, '')} name={`logos/${icon}`} height="64" /></li>))}
    </ul>
</Section>

<style>
    #frameworks {
        padding-top: var(--size-1000);
        padding-bottom: var(--size-1000);
    }
    .content {
        display: grid;
        color: var(--color-dusk);
    }
    .title {
        margin-bottom: 1rem;
    }
    .body > :global(* + *) {
        margin-top: 1rem;
    }
    ul {
        list-style: none;
    }
    .integrations {
        box-sizing: border-box;
        --cols: 2;
        margin: 2rem -1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 4rem 0;
        opacity: 0.4;
        color: black;
    }
    .integrations > li {
        border: 1rem solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .integrations svg {
        height: var(--size-800);
    }

    @media (min-width: 42rem) {
        .integrations {
            margin: 2rem auto;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    @media (min-width: 64rem) {
        .integrations {
            max-width: 86rem;
        }
        .integrations svg {
            height: var(--size-900);
        }
        .content {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 1rem;
        }
        .title {
            grid-column: 1 / 3;
        }
        .body {
            grid-column: 3 / 5;
        }
    }
</style>
