---
import Section from './Section.astro';
import Panel from '../Panel.astro';
import Starfield from '../Starfield.astro';

const tweet = {
    content: 'Rebuilt my Next.js blog using Astro out of curiosity&hellip; holy shit the difference in bundle size.',
    href: 'https://twitter.com/t3dotgg/status/1437195415439360003',
}
---

<Section class="performance" style="--background: var(--gradient-pop-4);">
    <Starfield height={48} />
    <div class="container">
        <div class="content">
            <h3 class="head-md"><slot name="title" /></h3>
            <div class="body">
                <slot />
            </div>
        </div>
        <aside class="data">
            <Panel class="data" background="linear-gradient(to bottom, #F0DBDB, #E5BAE2)">
                <p class="quote head-sm" style="font-weight: 700;" set:html={tweet.content}></p>

                <div class="bars">
                    <h4 id="payload-title">Total Payload</h4>
                    <div class="chart" style="--max: 138;">
                        <div class="bar" style="--value: 138; --background: #C699BB;" aria-labelledby="payload-title" aria-describedby="payload-before" role="progressbar" aria-valuenow="138" aria-valuemin="0" aria-valuemax="138" />
                        <h5 id="payload-before" class="before">Before: 138 <abbr title="kilobytes">kB</abbr></h5>

                        <div class="bar" style="--value: 7.5; --background: var(--gradient-pop-2);" aria-labelledby="payload-title" aria-describedby="payload-after" role="progressbar" aria-valuenow="7.5" aria-valuemin="0" aria-valuemax="138" />
                        <h5 id="payload-after" class="after">Using Astro: 7.5 <abbr title="kilobytes">kB</abbr></h5>
                    </div>

                    <!-- <h4 id="tti-title">Time to Interactive (TTI)</h4>
                    <div class="chart" style="--max: 4;">
                        <div class="bar" style="--value: 4; --background: #C699BB;" aria-labelledby="tti-title" aria-describedby="tti-before" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="4" />
                        <h5 id="tti-before" class="before">Before: 4<abbr title="seconds">s</abbr></h5>

                        <div class="bar" style="--value: 2.3; --background: var(--gradient-pop-2);" aria-labelledby="tti-title" aria-describedby="tti-after" role="progressbar" aria-valuenow="2.3" aria-valuemin="0" aria-valuemax="4" />
                        <h5 id="tti-after" class="after">Using Astro: 2.3<abbr title="seconds">s</abbr></h5>
                    </div> -->
                    
                    <p>Real world data from <a href={tweet.href}>@t3dotgg on Twitter</a></p>
                </div>
            </Panel>
        </aside>
    </div>
</Section>

<style>
    .performance {
        position: relative;
        padding-top: var(--size-1000);
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .content {
        color: white;
    }
    .container {
        display: grid;
        gap: 4rem;
        padding: 0;
        align-items: center;
    }
    h3 {
        margin-bottom: 1rem;
    }
    abbr {
        text-decoration: none;
        color: inherit;
    }
    .data .quote {
        display: flex;
        flex-direction: column;
    }
    .data .quote::before {
        font: inherit;
        font-size: 2em;
        content: open-quote;
        margin-top: -0.5ex;
        margin-bottom: -1ex;
    }
    .bars {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem !important;
    }
    #payload-label {
        margin-top: 0.25rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .chart {
        margin-top: 0.5rem;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
    }
    .bar {
        position: relative;
        width: 100%;
        height: 1.25rem;
        border-radius: 4px;
        overflow: hidden;
    }
    .bar::after {
        content: '';
        position: absolute;
        border-radius: inherit;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc(calc(var(--value) / var(--max)) * 100%);
        background: var(--background);
    }
    .bars h4 {
        margin-top: 1rem;
        font-size: var(--size-400);
        font-family: var(--font-display);
    }
    .bars h5, .bars p {
        font-weight: 400;
        font-size: var(--size-300);
        font-family: var(--font-display);
    }
    .bars h5 {
        padding: 0.25rem 0 0.5rem;
    }
    .bars p {
        margin-top: 2rem !important;
        margin-bottom: -1rem;
    }
    @media (min-width: 52rem) {
        .data {
            order: initial;
        }
        .container {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
</style>
