---
const { id } = Astro.props;

if (!id) {
    throw new Error(`<Title> requires an "id" prop! Recieved ${typeof id}`);
}
---

<a href={`#${id}`} id={id}>
    <slot />
</a>

<style>
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}
a::after {
    content: "#";
    color: inherit;
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.23, 1, 0.320, 1);
}
a:active::after,
a:hover::after,
a:focus::after {
    opacity: 0.6;
}
</style>
