---
import Panel from '../Panel.astro'
import Section from './Section.astro'
---

<Section id="trusted">
    <Panel background="var(--color-dawn)" offset={4}>
        <Fragment slot="title">
            <h3 class="head-sm"><slot name="title" /></h3>
        </Fragment>

        <ul class="logos">
            <slot />
        </ul>
    </Panel>
</Section>

<style>
#trusted {
    background: linear-gradient(to bottom, #D8C5EF 0%, #E5DAEE 100%);
    padding-top: 0;
}
.logos {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
    color: var(--color-dusk);
}
@media (min-width: 32rem) {
    .logos {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    * :global(li:last-child) {
        grid-column: auto / span 2;
    }
}
@media (min-width: 64rem) {
    .logos {
        grid-auto-flow: column;
        max-width: max-content;
        margin: 0 auto;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }
    * :global(li:last-child) {
        grid-column: auto / auto;
    }

    .logos :global(svg) {
        height: 2.25rem;
    }
}
@media (min-width: 82rem) {
    .logos :global(svg) {
        height: 2.5rem;
    }
}
.logos > :global(li) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
</style>
