---
import i18n from '../i18n';

const locale = i18n.defaultLocale;
const { lang } = i18n.locales[locale];
---
<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>404</title>
	</head>
	<body>
		<h1>404</h1>
    <a href="/">&#x2302;</a>
  </body>
</html>
