---
import BaseHead from '../components/BaseHead.astro';
import MainLayout from '../components/MainLayout.astro';

let title = 'Not Found';
let description = 'Snowpack is a lightning-fast frontend build tool, designed for the modern web.';
---

<html>

<head>
  <BaseHead title={title} description={description} permalink="TODO" />
</head>

<body>
  <MainLayout>
    <h2 class="content-title">
      {title}
    </h2>
    <div class="content">
      <a href="/">Go Home</a>
    </div>
  </MainLayout>
</body>

</html>