---
import BaseHead from '../components/BaseHead.astro';

let title = 'Astro';
let description = 'A better way to build a (static) site.';
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <!-- Site body... -->
  </body>
</html>
