*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  font-family: var(--theme-font-body);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

img {
	height: auto;
}

a {
  color: var(--theme-text);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: var(--theme-font-brand);
}
