:root {
  /* Colors */
  --theme-bg: #eceaf5;
  --theme-bg-accent: #f6f5fb;
  --theme-text: #171b26;
  --theme-text-invert: #fdfdfd;
  --theme-gray-200: #505d84;
  --theme-gray-400: #505d84;
  --theme-gray-700: #505d84;
  --theme-accent-light: #ddd6fc;
  --theme-accent-medium: #8577eb;
  --theme-accent-dark: #5a48d9;
  --theme-shade-subtle: var(--theme-accent-light);

  /* Gradients */
  --theme-gradient-main: linear-gradient(83.21deg, var(--theme-accent-dark) 6.77%, #c561f6 93.75%);
  --theme-gradient-text: linear-gradient(
    83.21deg,
    var(--theme-accent-dark) 10.42%,
    #7a4fe2 76.04%,
    #c561f6 100%
  );

  /* Shadows */
  --theme-shadow-sm: 1px 1px 5px rgba(0, 0, 0, 0.1);
  --theme-shadow-md: 2px 2px 10px rgba(0, 0, 0, 0.1);
  --theme-shadow-lg: 2px 2px 20px rgba(0, 0, 0, 0.2);

	/* Content Sizes */
	--theme-size-content-1: 30ch;
	--theme-size-content-2: 45ch;
	--theme-size-content-3: 65ch;

  /* Type Scale */
	/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --theme-text-sm: clamp(0.83rem, calc(0.76rem + 0.36vw), 1.04rem);
  --theme-text-base: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
  --theme-text-lg: clamp(1.20rem, calc(1.10rem + 0.52vw), 1.50rem);
  --theme-text-xl: clamp(1.44rem, calc(1.31rem + 0.63vw), 1.80rem);
  --theme-text-2xl: clamp(1.73rem, calc(1.58rem + 0.75vw), 2.16rem);
  --theme-text-3xl: clamp(2.07rem, calc(1.89rem + 0.90vw), 2.59rem);
  --theme-text-4xl: clamp(2.49rem, calc(2.27rem + 1.08vw), 3.11rem);
	/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --theme-text-sm: clamp(0.83rem, calc(0.80rem + 0.18vw), 0.94rem);
  --theme-text-base: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
  --theme-text-lg: clamp(1.20rem, calc(1.15rem + 0.26vw), 1.35rem);
  --theme-text-xl: clamp(1.44rem, calc(1.38rem + 0.31vw), 1.62rem);
  --theme-text-2xl: clamp(1.73rem, calc(1.65rem + 0.38vw), 1.94rem);
  --theme-text-3xl: clamp(2.07rem, calc(1.98rem + 0.45vw), 2.33rem);
  --theme-text-4xl: clamp(2.49rem, calc(2.38rem + 0.54vw), 2.80rem);

  /* Fonts */
  --__font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --theme-font-body: var(--__font-system);
  --theme-font-brand: 'Montserrat', var(--__font-system);

  /* Corners */
  --theme-radius-base: 0.3125rem;
  --theme-radius-lg: 0.625rem;
  --theme-radius-xl: 1.25rem;
  --theme-radius-full: 999rem;

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;

	/* Spacing */
	/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --theme-space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
  --theme-space-2xs: clamp(0.50rem, calc(0.48rem + 0.11vw), 0.56rem);
  --theme-space-xs: clamp(0.75rem, calc(0.71rem + 0.22vw), 0.88rem);
  --theme-space-sm: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
  --theme-space-md: clamp(1.50rem, calc(1.43rem + 0.33vw), 1.69rem);
  --theme-space-lg: clamp(2.00rem, calc(1.91rem + 0.43vw), 2.25rem);
  --theme-space-xl: clamp(3.00rem, calc(2.87rem + 0.65vw), 3.38rem);
  --theme-space-2xl: clamp(4.00rem, calc(3.83rem + 0.87vw), 4.50rem);
  --theme-space-3xl: clamp(6.00rem, calc(5.74rem + 1.30vw), 6.75rem);

  /* One-up pairs */
  --theme-space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.54vw), 0.56rem);
  --theme-space-2xs-xs: clamp(0.50rem, calc(0.37rem + 0.65vw), 0.88rem);
  --theme-space-xs-sm: clamp(0.75rem, calc(0.62rem + 0.65vw), 1.13rem);
  --theme-space-sm-md: clamp(1.00rem, calc(0.76rem + 1.20vw), 1.69rem);
  --theme-space-md-lg: clamp(1.50rem, calc(1.24rem + 1.30vw), 2.25rem);
  --theme-space-lg-xl: clamp(2.00rem, calc(1.52rem + 2.39vw), 3.38rem);
  --theme-space-xl-2xl: clamp(3.00rem, calc(2.48rem + 2.61vw), 4.50rem);
  --theme-space-2xl-3xl: clamp(4.00rem, calc(3.04rem + 4.78vw), 6.75rem);

  /* Custom pairs */
  --theme-space-sm-lg: clamp(1.00rem, calc(0.57rem + 2.17vw), 2.25rem);
}

:root.theme-dark {
  /* Colors (dark) */
  --theme-bg: #141925;
  --theme-bg-accent: #202c49;
  --theme-text: #fdfdfd;
  --theme-text-invert: #171b26;
  --theme-gray-200: #c3cadb;
  --theme-gray-400: #8490b5;
  --theme-gray-700: #3d4663;
  --theme-accent-light: #ebd2f8;
  --theme-accent-medium: #c779ed;
  --theme-accent-dark: #c561f6;
  --theme-shade-subtle: var(--theme-bg-accent);

  /* Gradients (dark) */
  --theme-gradient-main: linear-gradient(83.21deg, var(--theme-accent-dark) 6.25%, #5a48d9 100%);
  --theme-gradient-text: linear-gradient(
    83.21deg,
    var(--theme-accent-dark) 6.25%,
    #b45df1 75.52%,
    #5a48d9 100%
  );

  /* Shadows (dark) */
  --theme-shadow-sm: 1px 1px 5px rgba(0, 0, 0, 0.1);
  --theme-shadow-md: 4px 4px 10px rgba(9, 11, 17, 0.2);
  --theme-shadow-lg: 4px 4px 30px rgba(0, 0, 0, 0.6);
}
