---
import Layout from '../components/Layout.astro'
---
<Layout>
	<h1>Galaxy explorer</h1>
	<p>Explore the universe, buy some prints!</p>

	<a href=`/product/2021-03-29`>Show me the latest</a>
</Layout>
