.language-css > code,
.language-sass > code,
.language-scss > code {
	color: #fd9170;
}

[class*="language-"] .namespace {
	opacity: 0.7;
}

.token.plain-text,
[class*="language-bash"] span.token,
[class*="language-shell"] span.token {
	color: var(--color-gray-200);
}

[class*="language-bash"] span.token,
[class*="language-shell"] span.token {
	font-style: bold;
}

.token.prolog,
.token.comment,
[class*="language-bash"] span.token.comment,
[class*="language-shell"] span.token.comment {
  color: var(--color-gray-400);
}

.token.selector,
.token.tag,
.token.unit,
.token.url,
.token.variable,
.token.entity,
.token.deleted {
	color: #FA5E5B;
}

.token.boolean,
.token.constant,
.token.doctype,
.token.number,
.token.regex,
.token.builtin,
.token.class,
.token.hexcode,
.token.class-name,
.token.attr-name {
	color: var(--color-yellow);
}

.token.atrule,
.token.attribute,
.token.attr-value .token.punctuation,
.token.attr-value,
.token.pseudo-class,
.token.pseudo-element,
.token.string {
	color: var(--color-green);
}

.token.symbol,
.token.function,
.token.id,
.token.important
 {
	color: var(--color-blue);
}

.token.important,
.token.id {
  font-weight: bold;
}


.token.cdata,
.token.char,
.token.property {
	color: #23B1AF;
}

.token.inserted {
	color: var(--color-green);
}

.token.keyword {
	color: #FF657C;
  font-style: italic;
}

.token.operator {
	color: var(--color-gray-300);
}

.token.attr-value .token.attr-equals,
.token.punctuation {
	color: var(--color-gray-200);
}
