node_modules/
dist/
*.tsbuildinfo
.DS_Store
.vercel
_site/
*.log
package-lock.json

# .vscode files other than at top-level
**/.vscode

# do not commit .env files or any files that end with `.env`
*.env

!packages/astro/vendor/vite/dist