node_modules/
dist/
*.tsbuildinfo
.DS_Store
*.log
package-lock.json
.turbo/
.vscode-test/
*.vsix
packages/vscode/meta.json
.tool-versions

# .vscode files other than at top-level
**/.vscode

# do not commit .env files or any files that end with `.env`
*.env
