node_modules/
dist/
.output/
*.tsbuildinfo
.DS_Store
.vercel
_site/
scripts/smoke/*-main/
scripts/memory/project/src/pages/
*.log
package-lock.json
.turbo/

# ignore top-level vscode settings
/.vscode/settings.json

# do not commit .env files or any files that end with `.env`
*.env

!packages/astro/vendor/vite/dist
