# Important! Never install `astro` even when new version is in registry
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=false # This prevents the examples to have the `workspace:` prefix
auto-install-peers=false

# Vite's esbuild optimizer has trouble optimizing `@astrojs/lit/client-shim.js`
# which imports this dependency.
public-hoist-pattern[]=@webcomponents/template-shadowroot
# There's a lit dependency duplication somewhere causing multiple Lit versions error.
public-hoist-pattern[]=*lit*
# `astro sync` could try to import `@astrojs/db` but could fail due to linked dependencies in the monorepo.
# We hoist it here so that it can easily resolve `@astrojs/db` without hardcoded handling.
public-hoist-pattern[]=@astrojs/db
