# Important! Never install `astro` even when new version is in registry
prefer-workspace-packages=true
# Rather than shamefully hoisting everything, just make problematic packages public
public-hoist-pattern[]=autoprefixer
public-hoist-pattern[]=astro
public-hoist-pattern[]=remark-*
public-hoist-pattern[]=rehype-*
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
public-hoist-pattern[]=preact
public-hoist-pattern[]=preact-render-to-string
public-hoist-pattern[]=vue
public-hoist-pattern[]=svelte
public-hoist-pattern[]=solid-js
public-hoist-pattern[]=lit
public-hoist-pattern[]=@webcomponents/template-shadowroot
