# Important! Never install `astro` even when new version is in registry
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=false # This prevents the examples to have the `workspace:` prefix
auto-install-peers=false

# github-slugger is used by vite-plugin-markdown-legacy.
# Temporarily hoist this until we remove the feature.
public-hoist-pattern[]=github-slugger
