# To be removed with ".astro" parsing is ready
# Also, be sure to remove "pluginSearchDirs" from config
**/*.astro

# Config
**/dist
**/smoke
**/node_modules
**/fixtures
**/vendor
**/.vercel
examples/docs/**/*.md
examples/blog/**/*.md
.github
.changeset
README.md
