---
// Astro :)
---

<h1 class="fixed top-0 left-0 p-4 font-bold text-3xl whitespace-nowrap transition-all duration-500 ease-in-out origin-bottom-left sm:text-6xl sm:rotate-90 md:text-7xl lg:text-8xl xl:text-9xl">
	<slot />
</h1>
