---
import TestSvgImports from '../components/TestSvgImports.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>SVG Deduplication Test</title>
  </head>
  <body>
    <main>
      <h1>SVG Deduplication Test Page</h1>
      <TestSvgImports />
    </main>
  </body>
</html>
