---
import type { MarkdownInstance } from 'astro';
import type { Project } from '../types';

interface Props {
	project: MarkdownInstance<Project>;
}

const { frontmatter, url } = Astro.props.project;
---

<a class="card" href={url} style={`background:url(${frontmatter.img}) center / cover;`}>
	{frontmatter.title}
</a>

<style>
	.card {
		display: grid;
		place-content: center;
		height: 11rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		overflow: hidden;
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		font-family: var(--font-brand);
		font-size: var(--text-lg);
		font-weight: 600;
		color: var(--gray-999);
	}

	@media (min-width: 50em) {
		.card {
			height: 22rem;
		}
	}
</style>
