---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="lightbulb-filament" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>PATIENT ADVOCACY</h2>
		<p>Volunteer to help patients secure debt relief through Dollar For's financial assistance application.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="megaphone" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>OUTREACH</h2>
		<p>Reach out to our local community and make Dollar For's services accessible to all who need them.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="percent" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>MARKETING</h2>
		<p>Get involved in fundraising money for Dollar for.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="messenger-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>COMMUNICATIONS</h2>
		<p>Collaborate with community leaders to promote and spread information about new policies regarding medical debt.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
			
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-xl);
		}
	}
</style>
