---
import Counter from '../components/Counter.jsx';
import SvelteCounter from '../components/SvelteCounter.svelte';
---
<html>
<head><title>Dynamic pages</title></head>
<body>
  <Counter:load />

  <SvelteCounter:load />
</body>
</html>