---
import SplashLayout from '../../layouts/SplashLayout.astro';
---

<SplashLayout title="Nicht gefunden">
	<h1>404</h1>
	<p>Diese Seite befindet sich nicht in unserem Sonnensystem.</p>
	<a href="/">Bring mich nach Hause.</a>
</SplashLayout>
