---
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogCard from '@/components/BlogCard.astro'
import Pagination from '@/components/Pagination.astro'
import { initApi, Predicates } from '@/api/prismic.js'

export async function getStaticPaths({paginate, rss}) {
    const api = await initApi()
    const document = await api.query(
        Predicates.at('document.type', 'blog_post'),
        { orderings : '[document.last_publication_date]' }
    )
    const { results } = document
    return paginate(results, { pageSize: 4 })
}

const { page } = Astro.props
---
<BaseLayout>
	<div class="row">
        {
            page.data.map(blog => (
                <div class="col-6 col-6-medium col-12-small">
                    <BlogCard data={blog} />
                </div>
            ))
        }
    </div>
    { page.lastPage > 1 && <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} /> }
</BaseLayout>