---
const { pathname } = Astro.request.url
---

<nav id="nav">
    <ul>
        <li class={pathname === '/' ? 'current' : ''}><a href="/">Home</a></li>
        <li class={pathname === '/blogs' ? 'current' : ''}><a href="/blogs">Blogs</a></li>
        <li class={pathname === '/portfolios' ? 'current' : ''}><a href="/portfolios">Portfolios</a></li>
    </ul>
</nav>