---
import 'with-stencil';
---

<html>
  <head>
    <title>Hello Stencil!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  </head>
  <body>
      <main>
        <my-component first="Astro" middle="P." last="Jones" />
      </main>

      <script type="module" src="with-stencil/dist/loader/index.js" />
  </body>
</html>
