---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Văn Lang Sport - TRỰC TIẾP BÓNG ĐÁ ĐỈNH CAO</title>
	</head>
	<body class="bg-gray-950">
		<Header />
		<main class="container mx-auto px-4 md:mt-[200px]">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
