---
  import Menu from '../components/Menu.astro';
  export const layout = 'layouts/base.astro';
  export function setup({ context }) {
    return {};
  }
---

<div class="container">
  <section class="snow-view__docs is-full">

    <aside id="nav-primary" class="snow-view-nav">
      <Menu />
    </aside>

    <article class="snow-view-main">
      <slot></slot>
    </article>

  </section>
</div>