---
import CustomRendererTest from '../components/CustomRendererTest';
---

<html>
	<head>
		<title>Custom Framework / Custom Renderer</title>
	</head>
	<body>
		<h1>Client Directives</h1>
		<p>
			<CustomRendererTest msg="client:only" client:only="custom-renderer" />
		</p>
		<p>
			<CustomRendererTest msg="client:load" client:load />
		</p>
		<p>
			<CustomRendererTest msg="client:visible" client:visible />
		</p>
		<p>
			<CustomRendererTest msg="client:media" client:media="(max-width: 50em)" />
		</p>
		<p>
			<CustomRendererTest msg="client:idle" client:idle />
		</p>
		<p>
			<CustomRendererTest msg="none (SSR)" />
		</p>
	</body>
</html>
