---
import type { GetStaticPathsOptions, Page } from 'astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Card from '../components/Card.astro';
import Pagination from '../components/Pagination.astro';
import TagList from '../components/TagList.astro';
import { getSortedPosts } from '../helpers/getSortedPosts';
import Layout from '../layouts/Feed.astro';
import settings from '../settings';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	return paginate(await getSortedPosts(), { pageSize: 3 });
}

interface Props {
	page: Page<CollectionEntry<'articles'> | CollectionEntry<'notes'>>;
}

const { page } = Astro.props;
---

<Layout>
	<div class="stack">
		<ol>
			{
				page.data.map((post) => (
					<li>
						<Card {post} />
					</li>
				))
			}
		</ol>
		<Pagination {...page} />
	</div>
</Layout>

<style>
	.stack {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
	}
	ol {
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}
</style>
