---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not Found">
	<h1>404</h1>
	<p>This page doesn't exist. <a href="/">Go home</a>.</p>
</Layout>

<style>
	h1 {
		font-size: 1.75rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	p {
		color: #8b8fa3;
		line-height: 1.6;
	}

	a {
		color: #6366f1;
	}
	a:hover {
		color: #818cf8;
	}
</style>
