---
import {Markdown} from 'astro/components'

const {data:{name,readme,pkgJSON:{description,keywords}}} = Astro.props

            
let command = `npm init astro my-astro-project -- --template ${name}`

function capitalize(str) {
  return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
}
---
   

<div class="thumbnail">
        <img src="" alt="">
        <a href={`/example/${name}`}>
            <h3>{
                name.startsWith('framework')
                    ?
                    `${capitalize(name.split('-')[1])} ${capitalize(name.split('-')[0])}`
                    :
                    name
                        .split('-')
                        .map((str)=>(
                            str.replace('with','')
                        ))
                        .map((str)=>(capitalize(str)))
                        .join(' ')
                }
            </h3>
        </a>
        <p>{keywords? keywords.toString(): 'Keywords  goes here'}</p>
        <p>{(description)? description : 'Template Description from Pkg JSON goes here'}</p>
        
</div>

<style lang="scss">
    .thumbnail{
        width: 50%;
        flex-basis: 1;
        padding: 0.25rem;
        transition: all 0.5s;
        &:hover{
            transform: scale(1.05);
        }
        > a{
            color:var(--theme-accent)
        }
    }

</style>