---
import {Markdown} from 'astro/components'

const {data:{name,readme,pkgJSON:{description,keywords}}} = Astro.props
            
let command = `npm init astro my-astro-project -- --template ${name}`

function capitalize(str) {
  return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
}

---
   
<div class="thumbnail">
        <img src="" alt="">
        <a href={`/example/${name}`}>
            <h3>{
                name.includes('multiple')
                    ?
                    `${capitalize(name.split('-')[1])} ${capitalize(name.split('-')[0])}'s`
                    :
                    name
                        .split('-')
                        .map((str)=>(
                            str.replace('with','')
                        ))
                        .map((str)=>(
                            str.replace('framework','')
                        ))
                        .map((str)=>(capitalize(str)))
                        .join(' ')
                }
            </h3>
        </a>
        <!-- <p>{keywords? keywords.toString(): 'Keywords  goes here'}</p> -->
        <p>{(description)? description : 'Template Description from Pkg JSON goes here'}</p>
        <pre data-lang='bash'>--template {name}</pre>
</div>

<style lang="scss">
    .thumbnail{
        
        width: 45%;
        flex-grow: 1;
        padding: 0.55rem 1.5rem 0.15rem 0rem;
        transition: all 0.25s ease-out ;
        transform: perspective(1000rem); //hack but needed,
        &:hover{
            transform: scale(1.015);
        }
        > a{
            color:var(--theme-accent)
        }
        >p{
            height: clamp(35%,40%,35%);
            word-break: keep-all;
            text-overflow:ellipsis ;
        }
        > pre{
            width:99%;
            margin-top: 0.85rem;
            margin-left:0;
            overflow: auto;

            &::-webkit-scrollbar{
                height:10px;
                background-color: #383740;
                color:white;
                
            }
            &::-webkit-scrollbar-track{
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);   
            }
            &::-webkit-scrollbar-thumb {
                width: 25%;
                background-color: darkgrey;
                outline: 1px solid slategrey;
                border-radius: 5rem;
            }
        }
    
    }
    @media(max-width:603px){
        .thumbnail{
            width: 100%;
            height: fit-content;
            >pre{
                border-radius:0.5rem;
                overflow: auto;
            }
        }
    }
         

</style>