body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.12;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
