---
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

export interface Props {
	initialCount?: number;
}

const { initialCount = 0 } = Astro.props;
---

<div class="counter">
	<button>-</button>
	<pre>{ initialCount }</pre>
	<button>+</button>
</div>

<script data-count={initialCount}>
	{
		let count = $(document.currentScript).data('count');
		const div = $(document.currentScript).prev();
		const pre = div.find('pre');
		div.find('button').on('click', function () {
			const inc = $(this).text() === '+' ? 1 : -1;
			count += inc;
			pre.text(count);
		});
	}
</script>

<div class="counter-message">
	<slot />
</div>

<style>
	.counter {
		display: grid;
		font-size: 2em;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		margin-top: 2em;
		place-items: center;
	}

	.counter-message {
		text-align: center;
	}
</style>
