---
import { CollectionEntry, collectionToPaths, renderEntry } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

export function getStaticPaths() {
	return collectionToPaths('blog');
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await renderEntry(post);
---

<BlogPost {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</BlogPost>
