<style>
.nav {
  display: flex;
}
</style>

<nav class="wrapper">
  <h1>Muppet Blog</h1>
  <ul class="nav">
    <li><a href="/">All Posts</a></li>
    <li><a href="/?tag=movies">Movies</a></li>
    <li><a href="/?tag=television">Television</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
