---
export let prevUrl: string;
export let nextUrl: string;
---

<style lang="scss">
.nav {
  display: flex;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.prev,
.next {
  display: block;
}

.prev {
  margin-right: auto;
}

.next {
  margin-left: auto;
}
</style>

<nav class="nav">
  <a class="prev" href={prevUrl || '#'}>Prev</a>
  <a class="next" href={nextUrl || '#'}>Next</a>
</nav>
