---
export let currentPage: number;
export let maxPages: number;
---

<nav>
  <a href="">Prev</a>
  <a href="?p=1">1</a>
  <a href="?p=2">2</a>
  <a href="?p=3">3</a>
  <a href="?p=2">Next</a>
</nav>
