<h1 class="title">
    Build faster websites with <em>less client-side Javascript</em>
</h1>

<style lang="scss">
  .title {
    font-family: var(--font-sans);
    font-size: 1rem;

    em {
      font-style: normal;
      color: var(--color-green);
    }
  }
</style>
