@font-face {
  font-family: "RT Alias Medium";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/RTAliasMedium-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "RT Alias Medium";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("/fonts/RTAliasMedium-RegularOblique.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "RT Alias Medium";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/RTAliasMedium-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "RT Alias Medium";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("/fonts/RTAliasMedium-BoldOblique.woff2") format("woff2");
  font-display: swap;
}
