:root {
  --color-tan: #f4efed;
  --color-tan-rgb: 244, 239, 237;
  --color-dawn: #f3e9fa;
  --color-dusk: #514375;
  --color-midnight: #31274a;
  --color-midnight-rgb: 49, 39, 74;
  --color-blue: #205eff;
  --color-red: #ff5050;
  --color-yellow: #ffd542;
  --color-purple: #af43ff;
  --color-pink: #fdb2b7;

  --gradient-pop-1: linear-gradient(180deg, #205eff 0%, #c238bd 115%);
  --gradient-pop-2: repeating-linear-gradient(
    135deg,
    #ff9776 0em,
    #769cff 1em,
    #c238bd 2em,
    #ff9776 3em
  );
  --gradient-pop-3: linear-gradient(180deg, #ffb4b4 0%, #c487f0 100%);
  --gradient-pop-4: linear-gradient(
    0deg,
    #632cca -33%,
    #62289e 10%,
    #30216b 50%,
    #1f1638 100%
  );
  --gradient-pop-5: linear-gradient(
    180deg,
    #ffd542 0%,
    #ff5050 25%,
    #af43ff 100%
  );
  --gradient-mood: linear-gradient(
    180deg,
    #d8c5ef 0%,
    rgba(225, 213, 238, 0) 100%
  );

  --shadow-sm: 0px 19px 53px 0px rgba(var(--color-midnight-rgb), 0.03),
    0px 10px 28px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 6px 16px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 3px 9px 0px rgba(var(--color-midnight-rgb), 0.075),
    0px 1px 4px 0px rgba(var(--color-midnight-rgb), 0.1);
  --shadow-md: 0px 2px 2px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.06),
    0px 15px 14px 0px rgba(var(--color-midnight-rgb), 0.08),
    0px 50px 46px 0px rgba(var(--color-midnight-rgb), 0.12);
  --shadow-xl: 0px 3px 2px 0px rgba(var(--color-midnight-rgb), 0.02),
    0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.03),
    0px 12px 10px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 22px 18px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 42px 34px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 100px 80px 0px rgba(var(--color-midnight-rgb), 0.07);

  --blur-md: blur(10px);
  --blur-xl: blur(128px);

  --font-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: var(--font-base);
  --font-display: "RT Alias Medium", var(--font-base);
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;

  --corner-md: 12px;

  --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);

  /* @property fallbacks */
  --border-radius: 4;
  --pixel-size: 4;
  --link-color-stop-a: #205eff;
  --link-color-stop-b: #c238bd;
}
