---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Inicio">
	<h1>Inicio</h1>
	<p>Esta es la versi&oacute;n en espa&ntilde;ol, servida a trav&eacute;s del middleware <code>i18n()</code>.</p>
	<p><a href="/">English</a></p>
</Layout>
