---
import * as Component from '@example/my-component'
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
	<style global>
	h {
		display: block;
		font-size: 2em;
		font-weight: bold;
		margin-block: 0.67em;
	}
	</style>
</head>

<body>
	<Component.Heading>
		Welcome to Astro
	</Component.Heading>
	<Component.Button>
		Plain Button
	</Component.Button>
</body>

</html>