---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<p>This is a technical demo for authentication using Astro.</p>
	<p>This page is public, but there is a secret page that requires authentication. If you visit the secret page without being logged in, you will be redirected to the login page.</p>
	<a href="/secret">Go to secret page</a>
</Layout>
