---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Secret page</h1>
	<p>If you are viewing this page, it means that you have successfully logged in.</p>
	<button id="logout">Logout</button>
</Layout>

<script>
	const button = document.getElementById('logout');
	button?.addEventListener('click', async () => {
		await fetch('/api/logout', { method: 'POST' });
		window.location.href = '/';
	});
</script>
