---
import Layout, { type Props as LayoutProps } from './Base.astro';
import UserProfile from '../components/UserProfile.astro';
import SplitLayout from '../components/SplitLayout.astro';

export interface Props extends LayoutProps {}
---

<Layout {...Astro.props}>
	<SplitLayout>
		<UserProfile />
		<div>
			<slot />
		</div>
	</SplitLayout>
</Layout>
