---
import Layout, { type Props as LayoutProps } from './Base.astro';
import UserProfile from '../components/UserProfile.astro';

export interface Props extends LayoutProps {}
---

<Layout {...Astro.props}>
	<UserProfile />
	<main>
		<slot />
	</main>
</Layout>

<style>
	.flex-col {
		display: flex;
		flex-direction: column;
	}

	.wrapper {
		gap: 2.5rem;
		margin: 0 auto;
		width: 100%;
		max-width: 55rem;
	}

	@media (min-width: 50em) {
		.wrapper {
			display: grid;
			grid-template-columns: 12rem 1fr;
		}
	}
</style>
