---
import Layout, { type Props as LayoutProps } from './Base.astro';
import UserProfile from '../components/UserProfile.astro';
import SplitLayout from '../components/SplitLayout.astro';

export interface Props extends LayoutProps {}
---

<Layout {...Astro.props}>
	<SplitLayout>
		<UserProfile />
		<div>
			<slot />
		</div>
</SplitLayout>
</Layout>

<style>
	.flex-col {
		display: flex;
		flex-direction: column;
	}

	.wrapper {
		gap: var(--theme-size-xl);
		margin: 0 auto;
		width: 100%;
		max-width: var(--theme-content-width);
	}

	@media (min-width: 50em) {
		.wrapper {
			display: grid;
			grid-template-columns: 12rem 1fr;
		}
	}
</style>
