---
import Time from '../components/Time.jsx';
---
<html>
<head>
	<title>SSR App</title>
	<style>
		h1 {
			font-size: 36px;
		}
	</style>
</head>
<body>
	<h1>SSR App</h1>
	<p>Time: <Time time={new Date()} /></p>
</body>
</html>
