---
import { HelloWorld } from '../../components/Component';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body style="background-color: sandybrown;">
		<h1>Astro</h1>

		<h2>Audit</h2>
		<img src="/astro-logo.png" />

		<h2>Components</h2>
		<HelloWorld text="No hydration" />
		<HelloWorld text="client:load Hydrated" client:load name="hello" />
	</body>
</html>
