---
import Color from '../components/Color.jsx';

let title = 'My Site';

const colors = ['red', 'yellow', 'blue']
---

<html lang="en">
<head>
  <title>My site</title>
</head>
<body>
  <h1>{title}</h1>

  {colors.map(color => (
    <div>
      <Color name={color} />
    </div>
  ))}
</body>
</html>