

<section class="quote">

    <div class="logo">
        <slot name="logo" />
    </div>
    <blockquote class="astro-container container">
        <p class=""><slot name="quote" /></p>
        <cite class="head-sm"><slot name="cite" /></cite>
    </blockquote>
</section>

<style>
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--color, var(--color-dusk));
    margin-top: 4rem;
    margin-bottom: 4rem;
}
blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 2rem 0 0;
    font-size: inherit;
    max-width: 36rem;
}
cite {
    margin-top: 1rem;
    font-style: normal;
    font-size: var(--size-500);
}
cite > :global(*) {
    font: inherit;
}
.logo > :global(a) {
    padding: 1rem;
    display: inline-flex;
}
</style>
