---
import { Sprite } from 'astro-icon';
import Quote from './landing/Quote.astro';
import Grid from './landing/Grid.astro';
import Community from './landing/Community.astro';

import { social } from '../config.ts';

const { quote } = Astro.slots;
const YYYY = new Date().getFullYear();
---

<footer class={!quote ? 'has-card' : ''}>
    <div class="background">
        <div class="blob" />
        <Grid class="footer-grid" />
    </div>

    {!quote && <Community />}

    {quote && (
        <Quote color="white" blobs={false}>
            <Fragment slot="logo">
                <slot name="logo" />
            </Fragment>
            <Fragment slot="quote"><slot name="quote" /></Fragment>
            <Fragment slot="cite"><slot name="cite" /></Fragment>
        </Quote>
    )}
    
    <div class="container content">
        <ul class="links">
            <li>&copy; {YYYY} The Astro Technology Company</li>
            <li><a href="/about">About</a></li>
            <li><a href="/company">We're Hiring!</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </div>
</footer>

<style>
    footer {
        overflow: hidden;
        --height: clamp(min-content, 75vh, 56rem);
        min-height: var(--height);
        position: relative;
        background: var(--color-tan) linear-gradient(180deg, #E8ADB7, #C776BE, #9039CF, #7D32DE);
    }
    .has-card {
        /* background: var(--color-tan) var(--gradient-pop-3); */
    }
    footer::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(200% 100% at 50% 100%, #0029FF 0%, #6D39FF 30%, rgba(255, 153, 0, 0) 100%);
    }
    footer > :global(.quote) {
        z-index: 1;
        background: none;
        margin-bottom: 10vh;
    }
    .footer-grid {
        position: absolute;
        bottom: -10% !important;
        height: 40% !important;
        z-index: 1 !important;
    }
    .background {
        --height: 1350px;
        pointer-events: none;
        position: absolute;
        width: 100vw;
        bottom: 0;
        margin-top: calc(var(--height) * -0.9);
        height: calc(var(--height) * 1.25);
        overflow: hidden;
    }
    .content {
        position: relative;
        z-index: 1;
        color: white;
        margin-bottom: 6.5rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    .content ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .content a {
        color: white;
        text-decoration: none;
    }
    .content a:hover,
    .content a:focus,
    .content a:active {
        text-decoration: underline;
    }
    ul > li + li {
        margin-left: 1rem;
    }
    ul.main > li:nth-child(2) {
        margin-left: auto !important;
    }
    .logo .logomark {
        display: none;
    }
    .logo .wordmark {
        display: block;
        margin-left: 1rem;
    }
    .icon {
        transform: scale(0.8);
    }
    .links {
        order: 9;
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: var(--size-400);
        justify-content: center;
    }
    .links > li + li {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid rgba(255, 255, 255, 0.6);
    }
    .links > li:first-child {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
    }
    .links > li + li:nth-child(2) {
        margin-left: 0;
        padding-left: 0;
        border: none;
    }
     .content ul.mark {
        flex-direction: column;
        align-items: flex-start;
        max-width: max-content;
        margin-left: 1rem;
    }
    .mark li:first-child {
        display: none;
    }
    .mark > li:nth-child(2) {
        margin-left: 0;
        margin-top: 1rem;
    }
    .mark address {
        font-style: normal;
        display: flex;
    }
    .mark address p {
        font-size: var(--size-400);
        opacity: 0.75;
    }
    .mark address p + p {
        margin-left: 1rem;
    }

    @media (min-width: 52rem) {
        .icon {
            transform: scale(1);
        }
        .logo {
            padding: 0;
        }
        .logo .logomark {
            display: block;
        }
        .logo .wordmark {
            display: none;
        }
        .content {
            grid-template-columns: 1fr max-content;
        }
        .content ul.mark {
            grid-row: 1 / 3;
            margin-top: 0;
            margin-left: auto;
            padding-right: 2rem;
        }
        ul.main {
            height: 6rem;
        }
        ul.main > li:nth-child(2) {
            margin-left: 2rem !important;
        }
        .links {
            order: initial;
            grid-row: 2;
        }
        .links > li:first-child {
            width: initial;
            margin-bottom: 0;
        }
        .links > li + li:nth-child(2) {
            margin-left: 1rem;
            padding-left: 1rem;
            border-left: 1px solid rgba(255, 255, 255, 0.6);
        }
        .mark {
            margin-top: 3rem;
        }
        .mark li:first-child {
            display: block;
        }
        .mark address {
            flex-direction: column;
        }
        .mark address p + p {
            margin-left: 0;
            margin-top: 1rem;
        }
    }

    @media (min-width: 64rem) {
        .content ul.mark {
            padding-right: 6rem;
        }
    }
</style>
