<a href="#content">Skip to main content</a>

<style>
a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow-x: hidden;
    text-align: center;

    background-color: white;
    border-bottom: 1px solid transparent;
    font-family: var(--font-display);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    background: white;
    z-index: 5;

    /* Visually hidden */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
a:focus {
    width: 100vw;
    height: 48px;
    position: fixed;
    clip: initial;
    clip-path: initial;

    background: var(--color-purple);
    color: white;
}
</style>