<div class="wrapper">
    <slot />
</div>

<style>
    .wrapper {
        background: var(--color-tan) linear-gradient(to bottom, var(--color-tan) 0%, var(--color-tan) calc(100% - 50vh), #E8ADB7 100%);
    }
</style>
