---
// Component Imports
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Astro + TailwindCSS</title>
		<style global>
			@import "../styles/global.css";
		</style>
	</head>

	<body>
		<Button>I’m a Tailwind Button!</Button>
	</body>
</html>
