---
// Component Imports
import Button from '../components/Button.astro';

let lang = 'en';
// Full Astro Component Syntax:
// https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/astro-components.md
---
<html lang={ lang ?? 'en' }>
  <head>
    <meta charset="UTF-8" />
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
  </head>

  <body>
    <Button>I’m a Tailwind Button!</Button>
  </body>
</html>
