---
import Main from '../components/Main.astro';
import MainHeader from '../components/MainHeader.astro';
import Space from '../components/Space.astro';
import ErrorPage from '../components/ErrorPage.astro';
---
<html lang="en">
	<head>
        <title>Astro | Page Not Found</title>
        <link rel="stylesheet" href={Astro.resolve('../scss/global.css')} />
    </head>
	<body>
        <Space />
		<Main>
			<MainHeader />
			<ErrorPage />
		</Main>
	</body>
</html>