<html lang="en">
	<head>
        <title>Astro | Page Not Found</title>
        <link rel="stylesheet" href={Astro.resolve('../scss/error.scss')} />
    </head>
	<body>
        <section class="error-content">
            <p class="error-code">404 | error</p>
            <h1>Lost in space there, Astronaut?</h1>
            <p>Let's see if we can guide you back</p>
            <a href="/" title="back to homepage">Back to homepage</a>
        </section>
	</body>
</html>