---
import BaseHead from '../components/BaseHead.astro';
import Space from '../components/Space.astro';
import Main from '../components/Main.astro';
import Article from '../components/Article.astro';
import Tagline from '../components/Tagline.astro';
import MainHeader from '../components/MainHeader.astro';
import Sponsors from '../components/Sponsors.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
import YouTube from '../components/YouTube.astro';
import '../components/YouTube.css';

let title = 'Astro';
let description = 'Build faster websites with less client-side JavaScript';
let permalink = 'https://astro.build/';
let lang = 'en';
---

<html lang={lang ?? 'en'}>
	<head>
		<BaseHead {title} {description} canonicalURL={permalink} />
		<link rel="stylesheet" href={Astro.resolve('../scss/global.scss')} />
	</head>

	<body>
		<Space />

		<Main>
			<MainHeader />
			<Article>
				<YouTube v="dsTXcSeAZq8" alt="Astro in 100 Seconds" />

				<Tagline />

				<p>
					For a technology built on top of three different languages, the modern web seems to focus an awful lot on JavaScript. We don&rsquo;t think it has to&mdash;and
					that&rsquo;s certainly <a href="https://css-tricks.com/the-great-divide/">not</a>&nbsp;<a
						href="https://bradfrost.com/blog/post/front-of-the-front-end-and-back-of-the-front-end-web-development/">a</a
					>&nbsp;<a href="https://macwright.com/2020/05/10/spa-fatigue.html">revolutionary</a>&nbsp;<a href="https://css-tricks.com/whats-old-is-new/">concept</a>.
				</p>

				<p>
					We&rsquo;ll eagerly jump at the chance to sing JavaScript&rsquo;s praises, but HTML and CSS are pretty great too. There aren&rsquo;t enough modern tools which reflect
					that, which is why we're building Astro.
				</p>

				<p>
					While we&rsquo;re at it, it&rsquo;s time to accept that the framework wars won&rsquo;t have a winner&mdash;that&rsquo;s why Astro lets you use any framework you want (or
					none at all). And if most sites only have <a href="https://jasonformat.com/islands-architecture/">islands</a> of interactivity, shouldn&rsquo;t our tools optimize for that?
					We&rsquo;re not <a href="https://markojs.com/">the first</a> to ask the question, but we might be the first with an answer for every framework.
				</p>

				<p>We're hard at work on Astro! Keep your eyes to the skies, astronauts.</p>

				<br />

				<a class="action-button" href="/blog/astro-021-release/">
					New Blog Post - Astro 0.21
					<span style="float: right;">&#8594;</span>
				</a>

				<div class="hint">
					<p>Psst... <a href="https://astro.build/chat">get early access to new features</a> by joining our Discord community.</p>
				</div>
			</Article>
			<Sponsors />
		</Main>

		<style lang="scss">
			.hint {
				font-size: 13px;
				opacity: 0.8;
				margin-top: 2em;
				padding: 2em 0;
			}
			.hint > p:first-child {
				margin-bottom: 2em;
			}
			.action-button {
				border: 1px solid var(--color-green);
				padding: 1rem;
				font-weight: 600;
			}
			code {
				font-size: 11px;
				font-family: var(--font-mono);
				border: 1px solid rgba(255, 255, 255, 0.4);
				border-radius: 2px;
				padding: 0.1em 0.2em;
			}
			.videoWrapper {
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				height: 0;
				background: rgba(255, 255, 255, 0.1);
				margin-bottom: 1rem;
			}
			.videoWrapper > iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		</style>

		<script> console.log('%cGet early Astro access 👉 https://astro.build/chat', 'color:#17c083; font-size: 1.2em; padding: 1em;'); </script>
		<GoogleAnalytics />
	</body>
</html>
