---
import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

let title = 'Astro Blog';
let description = 'Everything you need to know about Astro, direct from mission control.';
let permalink = 'https://astro.build/blog';
let lang = 'en';
---

<html lang={ lang ?? 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href={Astro.resolve('../../scss/blog.css')} />

    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: 3.5rem 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin-top: 4rem;
        margin-bottom: 8rem;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        padding-bottom: 4rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      .intro > * {
        margin: 0;
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <section class="intro">
          <h1 class="latest">The Astro Blog</h1>
          <p>{description}</p>
        </section>
        <section>
          <BlogPostPreview title="Astro Demo Day September Edition" publishDate="September 20, 2021" href="/blog/demo-day-2021-09">
            <span>Astro September Demo Day was today and we had 4 amazing talks, including one with big announcements on the future direction of Astro.</span>
          </BlogPostPreview>

          <BlogPostPreview title="Astro 0.19" publishDate="Wednesday, August 18 2021" href="/blog/astro-019">
            <span>Introducing: Next.js-inspired file routing • Astro.resolve() • client:only components • translations.</span>
          </BlogPostPreview>

          <BlogPostPreview title="Astro 0.18" publishDate="Tuesday, July 27 2021" href="/blog/astro-018">
            <span>Introducing: Responsive partial hydration • Solid.js support • Lit SSR support • Named slots • Global style support.</span>
          </BlogPostPreview>

          <BlogPostPreview title="Introducing Astro: Ship Less JavaScript" publishDate="Tuesday, June 8 2021" href="/blog/introducing-astro">
            <span>We're excited to announce Astro as a new way to build static websites and deliver lightning-fast performance without sacrificing a modern developer experience.</span>
          </BlogPostPreview>
        </section>
      </article>
    </div>
  </body>
</html>
