pre,
code {
	color: #d4d4d4;
	font-size: 14px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	line-height: 1.5;
	direction: ltr;
	white-space: pre;
	text-align: left;
	text-shadow: none;
	word-break: normal;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre::selection,
code::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	pre,
	code {
		text-shadow: none;
	}
}

pre {
	margin: 0.5rem 0 16px;
	padding: 0.8rem 1rem 0.9rem;
	overflow: auto;
	background: #282a36;
	border-radius: 4px;
}

code {
	padding: 0.1em 0.3em;
	color: #db4c69;
	background: #f9f2f4;
	border-radius: 0.3em;
	white-space: pre-wrap;
}

pre.astro-code > code {
	all: unset;
}

/*********************************************************
* Line highlighting
*/
pre[data-line] {
	position: relative;
}

pre > code {
	position: relative;
	z-index: 1;
}

body {
	max-width: 900px;
	margin: auto;
}
