@use '../var' as *;
// A long feature list in columns
.feature-list {
  
  &-top {
    text-align: left;
  }

  &-bullets {
    display: grid;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2.5em 0 !important;
    padding: .1em !important;
    list-style: none;

    h3 {
      margin: 0 0 .25em 0;
      font-size: 1.25em;
    }

  }
  &-bullet {
    display: list-item;
    padding: 0.25em;
    border-radius: 4px;

    &::before {
      display: block;
      float: left;
      margin-right: 6px;
      color: green !important;
      content: '✅';

    }
  }
  &-buttons {
    margin: 2em 0;
    text-align: center;
  }
  &-button {
    display: inline-block;
    margin: 0.5em;
  }
}
