@use '../var' as *;

/**
 * Snowpack Logo
 * That iconic mountain you know and love
 */

.snow-logo {
  display: inline-flex;
  align-items: center;

  // -----------
  //  Components
  // -----------

  &-icon {
    display: block;
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    fill: currentColor;
  }

  &-type {
    font-weight: 700;
    font-family: $heading;
    letter-spacing: -0.03em;
  }
}
