---
export interface Props {
	title: string;
}

// replaced dynamically
const buildDate = '__DATE__';

const { title } = Astro.props as Props;
const production = import.meta.env.MODE === 'production'
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/pwa-192x192.png">
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="theme-color" content="#ffffff">
    <title>{title}</title>
    <meta name="description" content="{title}">
    <style>
    main, footer {
        text-align: center;
    }
    </style>
    <script src="/src/pwa.ts"></script>
    { production && <link rel="manifest" href="/manifest.webmanifest"> }
  </head>
  <body>
    <main>
        <article>
            <slot />
        </article>
    </main>
    <footer>
        Built at: { buildDate }
    </footer>
  </body>
</html>
