---
import { Image } from 'astro:assets';
import { getEntryBySlug } from 'astro:content';

const welcomePost = await getEntryBySlug('blog', 'welcome');
const { Content } = await welcomePost.render();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Image {...welcomePost.data.banner} />
		<Content />
	</body>
</html>
