---
import Nav from '../components/Nav.astro';
import PixelLink from '../components/PixelLink.astro';
import Starfield from '../components/Starfield.astro';
import Layout from '../layouts/Content.astro';

const meta = {
	title: 'Page Not Found',
	description: 'Astro is a new kind of static site builder for the modern web. Powerful developer experience meets lightweight output.',
	canonicalURL: new URL('./404', Astro.site)
}
---

<Layout fullscreen invert meta={meta}>
	<Fragment slot="head">
		<base href="/404" />
	</Fragment>

	<Nav invert slot="nav" />

	<Starfield height={64} />

	<div class="h-full flex flex-col justify-center items-center text-center pt-[25vh]">
		<h2 class="font-display text-3xl font-bold pb-6">Lost in space there, astronaut?</h2>
		<p class="pb-8">We couldn&rsquo;t find the page you were looking for&mdash;let&rsquo;s get you back to HQ.</p>
		<PixelLink href="/">Return Home</PixelLink>
	</div>
</Layout>
