---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Content.astro';
import ContributorsAvatarList from '../components/ContributorsAvatarList.astro';

const meta = { title: 'About' };
---

<Layout meta={meta}>
    <Nav slot="nav" />

    <div class="prose mx-auto">
        <header>
            <h1 class="text-3xl text-gradient">What is Astro?</h1>
        </header>

        <section>
            <p><strong>Astro</strong> helps web developers build better websites in less time. Astro is an MIT-licensed, open source build tool that combines a modern developer experience with efficient, lightweight output. The end result? Beautiful websites that work great on any device, across any internet connection.</p>

            <p>Astro launched 2021 and revolutionized web performance by integrating <strong>partial hydration</strong> -- a previously difficult-to-setup technology -- directly into the Astro runtime with built-in support for popular frameworks React, Svelte, Vue, and Solid.js.</p>

            <p>In less than a year, Astro amassed a huge community of contributors and an even larger audience of 10,000+ users at companies like Google, Netlify, Trivago and more. Astro won the <a href="https://jamstackconf.com/jammies/">"Ecosystem Innovation Award"</a> at last year's JamstackConf.</p>

            <!-- <p>TODO Block - Bulleted highlights on the team.</p> -->
            <!-- <p>TODO Block - Call to action.</p> -->

        </section>
        <section>
            <h2 class="text-center text-gradient">Our Community</h2>
            <p><strong>Astro</strong> is an open source project powered by hundreds of contributors making thousands of individual contributions. You can see many of us on this page!</p>
            
            <p>Open source means that all of our work is done in public, and anyone can get involved and contribute. Visit us <a href="https://astro.build/chat">on Discord</a> and come say "hi 👋" to learn more.</p>

            <p>Want to get paid to work on Astro? Check out open roles at <a href="/company">The Astro Technology Company</a>.</p>
            <ContributorsAvatarList />
        </section>
        <!-- TODO: instructions on how to get involved - either full time (link to company) or through open source
        
        
        <section style="margin: 2rem 0;">
            <h2 id="get-involved" class="title text-gradient">Get involved</h2>
            <p>instructions on how to get involved - either full time (link to company) or through open source</p>
        </section>
        --> 
     </div>

    <Footer slot="footer" />
</Layout>

