@use './var' as *;

body {
  min-height: 100vh;
}

html,
body {
  margin: 0;
  font-family: $body;
}

* {
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.3;
}

pre {
  max-width: calc(100vw - 4rem);
}

.pretty-font,
.version-number {
  font-weight: 600;
  font-family: $heading;
}

body.is-nav-open {
  height: 100%;
  overflow: hidden;
}
