/**
 * Utils
 */

// margin & padding
@for $i from 0 through 36 {
  .ma#{$i} { margin: #{0.5 * $i}rem; }
  .mt#{$i} { margin-top: #{0.5 * $i}rem; }
  .mr#{$i} { margin-right: #{0.5 * $i}rem; }
  .mb#{$i} { margin-bottom: #{0.5 * $i}rem; }
  .ml#{$i} { margin-left: #{0.5 * $i}rem; }
  .pa#{$i} { padding: #{0.5 * $i}rem; }
  .pt#{$i} { padding-top: #{0.5 * $i}rem; }
  .pr#{$i} { padding-right: #{0.5 * $i}rem; }
  .pb#{$i} { padding-bottom: #{0.5 * $i}rem; }
  .pl#{$i} { padding-left: #{0.5 * $i}rem; }
}

// text align
.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }

// wrapper
.wrapper {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrapper__readable {
  max-width: 55em;
}