// typography
$body: -apple-system, 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', sans-serif;
$heading: 'Overpass', $body;
$code: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace;

// breakpoints
$breakpoint-m: 800px;
$breakpoint-l: 1240px;

// nav bar height mobile
$nav-height: 3.5rem;
$algolia-height: 4rem;

// colors
$blue: #0a5e9d;
$dark-blue: #2e5e82;
$lightest-blue: #cfe2f2;
$orange: #fa6400;

$color-primary: $dark-blue;
$color-secondary: $blue;
$color-light: $lightest-blue;
$color-strong-contrast: $orange;
$grey: #717171;
$dark-grey: #393939;
$light-grey: #c1c1c1;
$darkest-grey: #333;
$white: #fff;

$light-rainbow-blue: #c9efd8;
$light-rainbow-pink: #f9ddff;
$rainbow-purple: #b224d0;
$rainbow-blue: #267dd6;
$rainbow-green: #24bf62;
$rainbow-yellow: #f0db4f;

$layers: (
  'base': 1,
  'nav-view': 9,
  'nav': 10,
);
