---
import Lorem from '../components/Lorem.astro';
import { CalcAdd } from '../components/calc-add.js';
import { MyCounter } from '../components/my-counter.js';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Demo</title>
	</head>
	<body>
		<h1>Test app</h1>
		<MyCounter client:load />
		<Lorem />
		<CalcAdd num={33} />
	</body>
</html>
