---
import Lorem from '../components/Lorem.astro';
import '../components/Test.js';
import '../components/Counter.js';
---

<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />
    
    <title>Demo</title>
</head>
<body>
    <h1>Test app</h1>

    <my-counter client:load />

    <Lorem />    

    <calc-add num={33} />
</body>
</html>
