<footer class="border border-t border-gray-800">
  <div class="container mx-auto text-sm px-4 py-6">
    Made with ❤️ by <a
      href="https://www.twitter.com/charca"
      target="_blank"
      class="underline hover:text-gray-300">Maxi Ferreira</a
    > — Powered by <a
      href="https://astro.build"
      target="_blank"
      class="underline hover:text-gray-300">Astro</a
    > and <a
      href="https://www.themoviedb.org/documentation/api"
      target="_blank"
      class="underline hover:text-gray-300">TMDb API</a
    >.
  </div>
</footer>
