---
import authorData from '../data/authors.json';

export let authorId: string;
const author = authorData[authorId];
---

<div class="author">
  <p>by {author.name}{' '}<a href={`https://twitter.com/${author.twitter}`}>@{author.twitter}</a></p>
</div>
