---
interface Props {
    url: string
    title: string
}
const { url, title } = Astro.props
---
<a href={url}>
    &leftarrow; {title}
</a>
<style>
a {
    display: block;
    margin-top: 2rem;
}
</style>