---
---
<style lang="scss" scoped>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p.errorcode {
			color: #ff5d01;
			text-transform: uppercase;
		}
		h1 {
			margin-top: -0.5rem;
			margin-bottom: 1rem;
			font-size: 2rem;
		}
		p {
			margin: 1rem 0;
		}
		a {
			margin: 1rem 0;
		}
	}
</style>
<section>
	<p class="errorcode">404 | error</p>
	<h1>Lost in space there, Astronaut?</h1>
	<p>Let's see if we can guide you back</p>
	<a href="/" title="back to homepage">Back to homepage</a>
</section>