<main>
    <slot></slot>
</main>

<style lang="scss">
  main {
    width: 100%;
    display: grid;
    gap: 1rem;
    padding: 0 0 3rem 0;
    grid-template-columns:
      minmax(1.2rem, 1fr)
      minmax(auto, 60ch)
      minmax(1.2rem, 1fr);
    grid-auto-rows: min-content;
    z-index: 1;
  }

  :global(main > *) {
    grid-column: 1;
    grid-column: 2;
  }
</style>
