<main>
    <slot></slot>
</main>

<style lang="scss">
  main {
    z-index: 1;
    width: 100%;
    max-width: 760px;
    margin: auto;
    padding: 0 0.75rem;
  }

  :global(main > *) {
    grid-column: 1;
    grid-column: 2;
  }
</style>
