---
import Planets from './Planets.astro';
import Stars from './Stars.astro';
---

<div class="space">
    <Planets />
    <Stars />
</div>

<style lang="scss">
    .space {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0;
        width: 100vw;
        min-height: 100vh;
        height: 100%;
        overflow: hidden;
        opacity: 0.6;
        z-index: -1;
    }
</style>
