<h1 class="title">Build faster websites with <em>less&nbsp;client-side Javascript</em></h1>

<style lang="scss">
	.title {
		font-family: var(--font-sans);
		font-weight: 400;
		font-size: 2.5rem;
		line-height: 1.1;

		@media (min-width: 50em) {
			font-size: 1.525rem;
		}

		em {
			font-style: normal;
			color: var(--color-green);
		}
	}
</style>
