---
import Post from '../components/Post.astro';
---
<html>
	<head>
		<title>Index page</title>
		<style>
			body {
				font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
			}

			h1 {
				color: salmon;
			}
		</style>
	</head>
<body>
	<h1>My Site</h1>

	<Post />
</body>
</html>
