---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ServerInfo from '../../components/ServerInfo.astro';

const { id } = Astro.params;
const postNumber = Number(id);
const viewCount = Math.floor(Math.random() * 5000);
const likes = Math.floor(Math.random() * 500);
---

<BaseLayout title={`Blog Post ${postNumber} - Server Site`}>
	<ServerInfo />
	<article>
		<h1>Blog Post {postNumber}</h1>
		<p class="meta">Published on January {(postNumber % 28) + 1}, 2024</p>
		<p class="stats">Views: {viewCount} | Likes: {likes}</p>
		<p>
			<strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>. <strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>.
		</p>
		<p>
			<strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>. <strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>.
		</p>
		<p>
			<strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>. <strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>.
		</p>
		<p>
			<strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>. <strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>.
		</p>
		<p>
			<strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>. <strong>Lorem</strong>
			<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
				>Lorem</strong
			>
			<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
			an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
			not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing <strong
				>Lorem</strong
			>
			<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
			including versions of <strong>Lorem</strong>
			<em>Ipsum</em>.
		</p>
		<section>
			<h2>Section 1</h2>
			<p>
				<strong>Lorem</strong>
				<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
					>Lorem</strong
				>
				<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s,
				when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
				has survived not only five centuries, but also the leap into electronic typesetting, remaining
				essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
				<strong>Lorem</strong>
				<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
				including versions of <strong>Lorem</strong>
				<em>Ipsum</em>. <strong>Lorem</strong>
				<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
					>Lorem</strong
				>
				<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s,
				when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
				has survived not only five centuries, but also the leap into electronic typesetting, remaining
				essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
				<strong>Lorem</strong>
				<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
				including versions of <strong>Lorem</strong>
				<em>Ipsum</em>.
			</p>
		</section>
		<section>
			<h2>Section 2</h2>
			<p>
				<strong>Lorem</strong>
				<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
					>Lorem</strong
				>
				<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s,
				when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
				has survived not only five centuries, but also the leap into electronic typesetting, remaining
				essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
				<strong>Lorem</strong>
				<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
				including versions of <strong>Lorem</strong>
				<em>Ipsum</em>. <strong>Lorem</strong>
				<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
					>Lorem</strong
				>
				<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s,
				when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
				has survived not only five centuries, but also the leap into electronic typesetting, remaining
				essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
				<strong>Lorem</strong>
				<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker
				including versions of <strong>Lorem</strong>
				<em>Ipsum</em>.
			</p>
		</section>
		<section>
			<h2>Comments ({Math.floor(Math.random() * 50)})</h2>
			<ul>
				{
					Array.from({ length: 10 }, (_, j) => (
						<li>
							Comment {j + 1} from User {Math.floor(Math.random() * 1000)}
						</li>
					))
				}
			</ul>
		</section>
	</article>
</BaseLayout>
