---
import { Sprite } from 'astro-icon';
import BaseHead from '../components/BaseHead.astro';
import SkipLink from '../components/SkipLink.astro';
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';

export interface Props {
    wrapper?: any;
    meta: BaseHeadProps;
    container?: boolean;
    routeId?: string;
}

const { wrapper: Wrapper = Fragment, meta, container = false, routeId } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...meta}>
        <Fragment slot="preload">
            <link rel="preload" as="style" href="/styles/sanitize.css">
            <link rel="preload" as="style" href="/styles/main.css">
        </Fragment>

        <Fragment slot="assets">
            <link rel="stylesheet" href="/styles/sanitize.css" />
            <link rel="stylesheet" href="/styles/main.css" />
        </Fragment>
    </BaseHead>

    <slot name="head" />

    <script>
        document.body.classList.add('js');
    </script>
  </head>
  <body>
    <Sprite.Provider>
        <slot name="banner" />

        <SkipLink />
        <slot name="nav" />

        <Wrapper>
            <slot name="start" />
            <main id="content" data-route-id={routeId} class={container ? "astro-container container": ""}>
                <slot />
            </main>
        </Wrapper>

        <slot name="footer" />
    </Sprite.Provider>

    <script type="module" hoist>
        import "/src/scripts/defer.ts";
    </script>
  </body>
</html>

<style global>
    :root {
        scroll-padding-top: 10rem;
    }
    main {
        max-width: 100vw;
        overflow: hidden;
    }
</style>