---
import ArticleHeader from './ArticleHeader.astro';
import type { Article } from '../content/config.js';

export interface Props {
	article: Article;
}

const { article } = Astro.props;

const { Content } = await article.render();
---

<article>
	<ArticleHeader {article} class="header" />
	<div class="e-content">
		<Content />
	</div>
</article>

<style>
	article {
		display: flex;
		flex-direction: column;
		gap: var(--theme-space-lg);
		padding-block: var(--theme-space-md);
		width: 100%;
		max-width: var(--theme-size-content-3);
		margin-inline: auto;
	}

	.e-content {
		max-width: var(--theme-size-content-3);
		margin-inline: auto;
	}

	.e-content > :global(* + *) {
		margin-block-start: 1em;
	}

	.e-content > :global(p:first-child::first-letter) {
		float: left;
		font-size: 3.5rem;
		padding-inline-end: 0.5rem;
		padding-block-start: 0.35rem;
		font-weight: bold;
	}

	.e-content :global(img, video, figure) {
		margin-inline: auto;
	}

	@media (min-width: 50em) {
		.e-content > :global(* + *) {
			margin-block-start: 1.5em;
		}
	}
</style>
