---
import settings from '../settings';
import Icon from './Icon.astro';
---

<footer>
		<p>
      {settings.name} © {new Date().getFullYear()}
    </p>
		<p>
      Designed & Developed with ♥
    </p>
</footer>

<style>
  footer {
    display: flex;
		flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    border-top: 3px solid var(--theme-shade-subtle);
    border-radius: var(--theme-radius-xl);
    padding: var(--theme-space-md);
    row-gap: var(--theme-space-sm);
    column-gap: var(--theme-space-lg);
    color: var(--theme-gray-200);
    font-size: var(--theme-text-sm);
  }
</style>
