---
import type { HTMLAttributes } from 'astro/types';
import settings from '../settings';
import ThemeToggle from './ThemeToggle.astro';

export interface Props extends HTMLAttributes<'header'> {}
---

<header {...Astro.props}>
	<a class="site-name" href="/">{settings.username}</a>
	<ThemeToggle />
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: var(--theme-space-md);
	}

	.site-name {
		font-size: var(--theme-text-lg);
		font-weight: 700;
		font-family: var(--theme-font-brand);
		text-decoration: none;
		color: var(--theme-accent-dark);
	}

	.site-name:hover {
		text-decoration: 1px solid underline var(--theme-accent-dark);
	}
</style>
