---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
	reverse?: boolean;
}

const { reverse = false, class: className, ...attrs } = Astro.props;
---

<div class:list={[className, { reverse }]} {...attrs}>
	<slot />
</div>

<style>
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--theme-space-lg);
		margin: 0 auto;
		width: 100%;
		max-width: var(--theme-size-content-3);
	}

	@media (min-width: 50em) {
		div {
			flex-direction: row;
			align-items: initial;
		}
	}
</style>
