---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'ul'> {
	tags: string[];
}

const { tags, ...attrs } = Astro.props;
---

<ul {...attrs}>
	{tags.map((tag) => (
		<li>
			<a href={`/category/${tag}/`} rel="category tag" class="p-category">{tag}</a>
		</li>
	))}
</ul>

<style>
	ul {
		list-style: none;
		padding: 0;
		display: flex;
		gap: var(--theme-space-3xs);
	}
	li {
		padding: var(--theme-space-3xs) var(--theme-space-2xs);
		border-radius: var(--theme-radius-full);
		background-color: var(--theme-accent-dark);
		color: var(--theme-text-invert);
		font-size: var(--theme-text-sm);
		font-weight: 500;
	}
	li::before {
		content: '#';
	}
</style>
