---
import SplashLayout from '../layouts/SplashLayout.astro';
---

<SplashLayout title="Not Found">
	<h1>404</h1>
	<p>This page isn't in our solar system.</p>
	<a href="/">Take me home.</a>
</SplashLayout>
