---
import Layout from '../layouts/ExamplesLayout.astro'
import Thumbnail from '../components/Examples/Thumbnail.astro'
import templateData from '../components/Examples/function-generate-examples-data.js'
let data = await templateData()
---
<Layout content={data}>
   <div class="flexbox">
       {data.map((item)=>(
           <Thumbnail data={item}/>
       ))}
   </div>
</Layout>
<style lang="scss">
    .flexbox{
        display: flex;
        flex-wrap: wrap;
    }
</style>