---
import Layout from '../layouts/Main.astro';
---

<Layout centered content={{ title: 'Astro Documentation' }}>
  <h1>
    <code style="white-space: nowrap;">npm init astro</code>
  </h1>
</Layout>
