---
import Layout from '../layouts/MainLayout.astro';
import Card from '../components/Card.astro';
import {Markdown} from 'astro/components';
import themes from '../data/themes.json';
import components from '../data/components.json';
---
<style>
    .card-grid {
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr))
    }
</style>
<Layout content={{title: 'Themes'}} hideRightSidebar>
    <Markdown>
        ## Featured Themes

        Astro is supported by a growing ecosystem of third-pary themes and components.
    </Markdown>
    <div class="card-grid">
        {themes.community.map((item)=>(<Card data={item} />))}
    </div>
    <Markdown>
        ## Official Themes

        Astro maintains several official themes for common use-cases like documentation, portfolios, and more.
    </Markdown>
    <div class="card-grid">
        {themes.official.map((item)=>(<Card data={item} />))}
    </div>
    <Markdown>
        ## Featured Packages
        
        Our package ecosystem is growing! Check out these featured community packages.
    </Markdown>
    <div class="card-grid">
        {components.community.map((item)=>(<Card data={item} />))}
    </div>
</Layout>