---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About - Static Site">
	<h1>About Us</h1>
	<p>
		<strong>Lorem</strong>
		<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
			>Lorem</strong
		>
		<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
		an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
		not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		It was popularised in the 1960s with the release of Letraset sheets containing <strong
			>Lorem</strong
		>
		<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker including
		versions of <strong>Lorem</strong>
		<em>Ipsum</em>. <strong>Lorem</strong>
		<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
			>Lorem</strong
		>
		<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
		an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
		not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		It was popularised in the 1960s with the release of Letraset sheets containing <strong
			>Lorem</strong
		>
		<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker including
		versions of <strong>Lorem</strong>
		<em>Ipsum</em>.
	</p>
	<p>
		<strong>Lorem</strong>
		<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
			>Lorem</strong
		>
		<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
		an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
		not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		It was popularised in the 1960s with the release of Letraset sheets containing <strong
			>Lorem</strong
		>
		<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker including
		versions of <strong>Lorem</strong>
		<em>Ipsum</em>. <strong>Lorem</strong>
		<em>Ipsum</em> is simply <span>dummy</span> text of the printing and typesetting industry. <strong
			>Lorem</strong
		>
		<em>Ipsum</em> has been the industry's standard <span>dummy</span> text ever since the 1500s, when
		an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
		not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		It was popularised in the 1960s with the release of Letraset sheets containing <strong
			>Lorem</strong
		>
		<em>Ipsum</em> passages, and more recently with desktop publishing software like Aldus PageMaker including
		versions of <strong>Lorem</strong>
		<em>Ipsum</em>.
	</p>
	<section>
		<h2>Our Team</h2>
		<ul>
			{Array.from({ length: 20 }, (_, i) => <li>Team Member {i + 1}</li>)}
		</ul>
	</section>
</BaseLayout>
