// GitHub markdown styles
@use './_github-markdown';

// Syntax highlighting
@use './_prism';

// Global styles
@use './_globals';

// Typography
@use './_typography';

// Components
@use './components/container';
@use './components/hero';
@use './components/icon';
@use './components/logo';
@use './components/nav';
@use './components/old';
@use './components/toc';
@use './components/view';
@use './components/search';
@use './components/feature-list';
@use './components/button';
@use './components/copy-button';
@use './components/card-grid';

// Pages
@use './pages/plugins';

@import 'docsearch.js/dist/cdn/docsearch.min.css';
