---
const { content } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8">
    <title>{content.title}</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <slot/>
  </body>
</html>
