---
import MainHead from '@/components/Head.astro'
import Header from '@/components/Header/Header.astro'
import Footer from '@/components/Footer.astro'
---

<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<MainHead/>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<Header/>
			<!-- Main -->
				<section id="main">
					<div class="container">
						<slot/>
					</div>
				</section>
			<!-- Footer -->
				<Footer />
		</div>
		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
	</body>
</html>