---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';

const tagsCounter: Record<string, number> = {};
(await getCollection('blog')).forEach((post) => {
    post.data.tags.forEach((tag) => {
        tagsCounter[tag] = tagsCounter[tag] ? tagsCounter[tag] + 1 : 1;
    });
});
const tags = Object.keys(tagsCounter)
    .sort((a, b) => a.toLowerCase().localeCompare(b.toLowerCase()))
    .map((tag) => ({
        name: tag,
        count: tagsCounter[tag],
    }));
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Tags" description="A list of all the tags used in my articles." />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						tags.map((tag) => (
							<li>
								<a href={`/tag/${tag.name}/`}>
									<h4 class="title">#{tag.name} ({tag.count})</h4>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>