---

const {title} = Astro.props;

---

<html lang="en">
	<head>
		<title>{title}</title>
		<style>
			h1 {
				font-size: 36px;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="right-pane">
				<a href="/">
					Home
				</a>
			</div>
			<h1>
				My Astro Website
			</h1>
			<div class="right-pane">
				<a href="/login">
					Login
				</a>
			</div>
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>
