---
import Markdown from 'astro/components/Markdown.astro';
---

<html>
  <head>
    <title>Collections</title>
  </head>
  <body>
    <main>
      <Markdown>
      </Markdown>
    </main>
  </body>
</html>
