---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
const entry = await getEntry('docs', 'intro-copy-3');
---

<Layout title={entry.data.title}>
	<h1>No styles here...</h1>
	<p>{entry.data.title}</p>
</Layout>
