---
import { Markdoc } from '@astrojs/markdoc';
import RenderMarkdoc from '../renderer/RenderMarkdoc.astro';

import { getTransformed } from '../components/test.mdoc';
import { Code } from 'astro/components';
import Marquee from '../components/Marquee.astro';
import { getEntryBySlug } from 'astro:content';

const mdocEntry = await getEntryBySlug('blog', 'test');
console.log(mdocEntry);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<article>
			<RenderMarkdoc
				content={await getTransformed()}
				components={{
					marquee: Marquee,
					pre: {
						component: Code,
						props({ attributes, getTreeNode }) {
							return {
								...attributes,
								lang: attributes.lang ?? attributes['data-language'],
								code: attributes.code ?? Markdoc.renderers.html(getTreeNode().children),
							};
						},
					},
				}}
			/>
		</article>
	</body>
</html>
