---
import { getEntryBySlug } from 'astro:content';
import DocsContent from '../components/DocsContent.astro';
import Layout from '../layouts/Layout.astro';

const intro = await getEntryBySlug('docs', 'intro');
---

<Layout title={intro.data.title}>
	<main>
		<h1>{intro.data.title}</h1>
		<!-- `DocsContent` is a thin wrapper around -->
		<!-- the `Content` component provided by Content Collections, -->
		<!-- with added configuration for components. -->
		<!-- This allows you to share global components wherever you render your Markdoc. -->
		<DocsContent entry={intro} />
	</main>
</Layout>
