---
import '../assets/root.css'
import Nav from '../components/Nav.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro - Hacker News</title>
    <meta name="description" content="Hacker News Clone built with Astro" />
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
