---
const { shortname, identifier, url, title } = Astro.props;
---
<div id="disqus_thread"></div>
<script define:vars={{ shortname, identifier, url, title }}>
  var disqus_config = function () {
    this.page.url = url;
    this.page.identifier = identifier;
    this.page.title = title;
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://' + shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', new Date().toString());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>