---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const removeTrailingSlash = (str: string): string => {
  if (str.charAt(str.length - 1) === "/") {
    return str.slice(0, -1);
  } else {
    return str;
  }
};

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
