<style lang="scss">
.header {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.title {
  margin: 0;
  font-size: 1em;
  margin-right: 2rem;
}

.nav {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
}
</style>

<nav class="header">
  <h1 class="title">Muppet Blog</h1>
  <ul class="nav">
    <li><a href="/">All Posts</a></li>
    <li><a href="/tag/movie/1">Movies</a></li>
    <li><a href="/tag/television/1">Television</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
