---
const { title, delay } = Astro.props;

const waitFor = (ms: number) => new Promise((resolve) => setTimeout(resolve, ms));
await waitFor(delay);
---

<style is:global>
	.fallback {
		color: white;
		padding: 10px;
		background: red;
		margin-bottom: 10px;
	}

	.island {
		background-color: #f2f2f2;
		padding: 20px;
		border-radius: 10px;
		margin-bottom: 10px;
	}

	.island p {
		margin-bottom: 0;
	}
</style>

<div class="island">
	<div></div><div class="relative overflow-auto rounded-xl p-8">
		<h3 class="font-sans font-bold">{title}</h3>
		<p>Delay: {delay}</p>
	</div>
</div>
