.Card {
  margin: 0.5rem 0.25em;
  border-radius: 4px;
  padding: 0.5rem 0.5rem 0.5rem 48px;
  flex-direction: column;
  position: relative;
}

.Card:nth-child(3n + 2) .Icon__Plugin {
  filter: hue-rotate(-60deg);
}

.Card:nth-child(3n + 3) .Icon__Plugin {
  filter: hue-rotate(-120deg);
}

.CardList {
  list-style: none;
  max-width: 600px;
  padding-left: 0;
}

.CardName {
  margin: 0;
  font-weight: 500;
}

.CardHeader {
  font-size: 1.1447rem;
}

.CardDesc {
  max-width: 80ch;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  line-height: 1.25;
}

.CardSubtitle {
  margin: 0;
  color: #7986a5;
  font-size: 0.8735804647362989em;
}

.Count {
  max-width: 600px;
  min-height: 24px;
  margin: 0.5rem 0 1rem;
  color: rgba(black, 0.6);
  font-weight: 300;
  font-size: 1em;
  font-style: italic;
  text-align: center;

  @media (min-width: 600px) {
    font-size: 1.2em;
  }
}

.Form {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.Icon__Plugin {
  height: 52px;
  width: 52px;
  opacity: 0.5;
  transform: rotate(45deg);
  /* background: radial-gradient(to top,red,blue); */
  position: absolute;
  top: 13px;
  left: -15px;
}

.Loading {
  margin: 1rem;
  text-align: center;
}

.Input {
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 0.25em 0.75em;
  font-size: 1em;
  border-width: 1px 0 1px 1px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 0 0 2px rgba(46, 94, 130, 0);
  transition: box-shadow 150ms linear;
  appearance: none;
}

.Input:focus {
  border-color: #2e5e82;
  outline: none;
  box-shadow: 0 0 0 2px rgba(46, 94, 130, 1);
}

.Input:focus + .Submit {
  box-shadow: 0 0 0 2px rgba(46, 94, 130, 1);
}

.Results {
  max-width: 600px;
}

.Submit {
  padding: 0.5em 1em;
  color: white;
  font-weight: 700;
  font-size: 1em;
  font-family: 'Overpass', sans-serif;
  background-color: #2e5e82;
  border: none;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 0 0 2px rgba(46, 94, 130, 0);
  transition: box-shadow 150ms linear;
  appearance: none;
}
