---
// Page 2!
import Link from "../components/Link.jsx";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Demo: Page 2</title>
	</head>
	<body>
		<Link to="/" text="Go Home" />
	</body>
</html>
