---
// Page 2!
import Button from '../components/Button.jsx';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Demo: Page 2</title>
	</head>
	<body>
        <Button to="/" text="Go Home" />
	</body>
</html>
