---
import Lorem from "../components/Lorem.astro";
import Link from "../components/Link.jsx";
import SolidCounter from "../components/SolidCounter.jsx";
import { CalcAdd } from "../components/calc-add.js";
import { MyCounter } from "../components/my-counter.js";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Demo</title>
	</head>
	<body>
		<h1 class="px-4 py-4">Test app</h1>
		<h2 class="partytown-status">
			<strong>Party Mode!</strong>
			Colors changing = partytown is enabled
		</h2>
		<MyCounter client:load />
		<SolidCounter client:load />
		<Link to="/foo" text="Go to Page 2" />
		<Lorem />
		<CalcAdd num={33} />
		<script type="text/partytown">
			// Remove `type="text/partytown"` to see this block the page
			// and cause the page to become unresponsive
			console.log("start partytown blocking script");
			const now = Date.now();
			let count = 1;
			while (Date.now() - now < 10000) {
				if (Date.now() - now > count * 1000) {
					console.log("blocking", count);
					count += 1;
				}
			}
			console.log("end partytown blocking script");
		</script>

		<script is:inline>
			setInterval(() => {
				const randomColor = Math.floor(Math.random() * 16777215).toString(16);
				document.querySelector(".partytown-status").style.color = "#" + randomColor;
			}, 100);
		</script>
		<style>
			h1,
			h2 {
				color: blue;
			}
		</style>
	</body>
</html>
