---
import Greeting from '../components/Greeting.vue';

export async function getStaticPaths() {
  const response = await fetch(`https://pokeapi.co/api/v2/pokemon?limit=2000`);
  const result = await response.json();
  const allPokemon = result.results;
  return allPokemon.map(pokemon => ({params: {pokemon: pokemon.name}, props: {pokemon}}));
}
---
<html lang="en">
  <head>
    <title>Hello</title>
  </head>

  <body>
    <h1>{Astro.props.pokemon.name}</h1>
    <Greeting client:load />
  </body>
</html>