<div class="max-w-7xl mx-auto">
    <div class="sm:text-center">
      <h1 class="text-3xl md:text-3xl font-bold font-display text-gradient">
        <slot name="title" />
      </h1>
      <div class="max-w-2xl mt-5 mx-auto">
        <slot />
      </div>
    </div>
  </div>