---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---
<DefaultLayout title="Page not found - Astro PWA">
    <h1>Page not found</h1>
    <h1>Upps, something was wrong, the requested page not found!</h1>
    <a href="/">Back home</a>
</DefaultLayout>
