---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---
<DefaultLayout title="Astro PWA">
    <h1>Welcome to <a href="https://astro.build/">Astro</a> PWA</h1>
		<script src="/src/index.ts"></script>
</DefaultLayout>

