---
import Counter from '../components/Counter.jsx';
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style global>
      :root {
        font-family: system-ui;
      }
      .counter {
        display: grid;
        font-size: 2em;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-top: 3em;
        place-items: center;
      }
      .counter-message {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main>
      <Counter client:visible>
        <h1>Hello, Solid!</h1>
      </Counter>
    </main>
  </body>
</html>
