.footer {
  text-align: center;
  padding-top: 8rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
}

.byline {
  display: block;
  margin-top: 1rem;
  color: var(--t-subdue);
  font-size: var(--f-d2);
  text-transform: uppercase;
}
