---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 ">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero 
				title="Longhorns Crushing Medical Debt"
				tagline=""
				align="start"
			
					<section>
				
						<div class="content">
							<p>
								Our mission is to ensure that a medical crisis should not be followed by a financial crisis. We assist patients in need in eliminating their medical debt through hospital charity care policies.
							</p>
							
			
						</div>
					</section>
				
					<div class="roles">
						<CallToAction href="/about/">
							About Us
							
						</CallToAction>
						<CallToAction href="https://dollarfor.org">
							Clear Up Medical Debt
							
						</CallToAction>
						
					</div>
					
				</Hero>

				<img
					alt="We Crush Medical Bills"
					width="600"
					height="620"
					src="/assets/WeCrush.png"
				/>
			</header>

			<Skills />
		</div>

		<main class="wrapper stack">
			<section class="section with-background with-cta">
				<header class="section-header">
					<h3>Upcoming Events</h3>
					
				</header>
		

				
			</section>
			<div class="event-box">
				<div class="event-content">
					
					<div class="event-image">
						<img src="/assets/placeholder-image.jpg" alt="Event Image">
					</div>
					<div class="event-details">
						<div class="event-meta">
							<span class="event-date-location">Date | Location</span>
						</div>
						<h2 class="event-title">Name of Event</h2>
						<p class="event-description">Description of the event goes here. It provides details about what to expect at the event, its significance, and any other relevant information.</p>
						<a href="/rsvp" class="rsvp-button">Sign Up</a>
					</div>
				</div>
			</div>
			
			<div class="contact-us-section stack gap-2 lg:gap-4">
				<h3>CONTACT US</h3>
				<p>
					<a href="/contact" class="mention-link">Have any questions? Get in contact with us here!</a>
				</p>
			</div>
			

		
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.contact-us-section {
    margin-top: 5rem; /* Adjust this value to increase or decrease the space */
}

	.event-box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
		width:50%;
		
		
		
}

.event-content {
    display: flex;
    width: 100%;
}

.event-image {
    flex: 1;
    overflow: hidden;
}

.event-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event-details {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text within container */
}

.event-meta {
    font-size: var(--text-md);
    color: var(--gray-500);
    margin-bottom: 0.5rem;
}

.event-title {
    font-size: var(--text-xl);
    color: var(--text-color);
    margin: 0.5rem 0; /* Added margin for spacing */
}

.event-description {
    font-size: var(--text-sm);
    color: var(--gray-500);
    margin: 1rem 0;
}

.rsvp-button {
	position: relative;
		display: flex;
		place-content: center;
		text-align: center;
		padding: 0.56em 2em;
		gap: 0.8em;
		color: var(--accent-text-over);
		text-decoration: none;
		line-height: 1.1;
		border-radius: 999rem;
		overflow: hidden;
		background: var(--gradient-accent-orange);
		box-shadow: var(--shadow-md);
		white-space: nowrap;
}

.rsvp-button:hover {
    background-color: var(--button-bg-hover);
}


	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
		
	}
	

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically if the container has a fixed height */
    text-align: center;      /* Center text within the element */
    max-width: 200ch;        /* Limit maximum width for readability */
    font-size: var(--text-md); /* Font size variable */
    color: var(--gray-300);   /* Text color variable */
   
    
}

	.section-header h3 {
		font-size: var(--text-l);
		
	}
	.hero-title {
    font-size: var(--text-md); /* Adjust as needed */
    color: var(--text-color);
    margin: 0;
}
	

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			/* gap: 5rem; */
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-3xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
