---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import type { Project } from '../types';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob<Project>('./work/**/*.md');
const featuredProject = projects[0]!;

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Jeanine White: Personal Site"
			description="Jeanine White: Developer, Speaker, and Writer..."
		/>
		<style></style>
	</head>
	<body>
		<Nav />
		<header class="hero">
			<div>
				<h1 class="title">Hello, my name is Jeanine White</h1>
				<p class="desc">I am a Creative Developer who is currently based in Portland, Oregon.</p>
				<div class="roles">
					<span class="role">👩‍💻 Developer</span>
					<span class="role">🎤 Speaker</span>
					<span class="role">✏️ Writer</span>
				</div>
			</div>
			<div>
				<img
					width="1600"
					height="1131"
					class="img"
					src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200&q=75"
					srcset="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200&q=75 800w,https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200&q=75 1200w,https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1600&q=75 1600w,https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=2400&q=75 2400w"
					sizes="(max-width: 800px) 800px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width: 2400px) 2400px, 1200px"
				/>
			</div>
		</header>
		<main class="wrapper">
			<div class="grid">
				<section>
					<div class="fact">
						<h4>Full Stack</h4>
						<p>Some sorta real clever text here but im too tired to think of it now.</p>
					</div>
					<div class="fact">
						<h4>Industry Leader</h4>
						<p>Some sorta real clever text here but im too tired to think of it now.</p>
					</div>
					<div class="fact">
						<h4>Strategy-Minded</h4>
						<p>Some sorta real clever text here but im too tired to think of it now.</p>
					</div>
				</section>
				<section>
					<h3 class="sectionTitle">Selected Work</h3>
					<p>Take a look below at some of my featured work for clients from the past few years.</p>
					<a href="/work/">View All</a>
					<PortfolioPreview project={featuredProject} />
				</section>
				<section>
					<h3>Mentions</h3>
					<p>
						I have been fortunate enough to recieve praise for my work in several publications. Take
						a look below to learn more.
					</p>
				</section>
				<section>
					<h3 class="sectionTitle">About me</h3>
					<p class="bio">
						<span>Hello!</span> I’m Jeanine, and this is my website. It was made using{' '}
						<a href="https://github.com/withastro/astro" target="_blank" rel="nofollow"> Astro</a>,
						a new way to build static sites. This is just an example template for you to modify.
					</p>
					<p>
						<a href="/about">Read more</a>
					</p>
				</section>
			</div>
		</main>
		<Footer />
	</body>
</html>
