---
import Layout from '../layouts/Default.astro';
import Deep from '../component/Deep.astro';
---

<Layout>
	<Deep>
		<h2>Page B</h2>
		<p>No delay</p>
	</Deep>

	<nav slot="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/a">Page A</a></li>
			<li><a href="/b" class="active">Page B</a></li>
			<li><a href="/c">Page C</a></li>
		</ul>
	</nav>
</Layout>
