---
// Component imports and setup JavaScript go here!
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style>
			/* scoped CSS styles go here: */
			/* h1 { ... } */
		</style>
	</head>

	<body>
		<h1>Lucía <a href="https://astro.build/">Astro</a></h1>
	</body>
</html>
