---
import Title from "../components/Title.astro";
import List from "../components/List.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Title />
		<List />
	</body>
</html>
