---
import { getEntryBySlug } from 'astro:content';

const entry = await getEntryBySlug('blog', 'hello');
const { Content, headings } = await entry.render();
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<Content />
	</body>
</html>
