---
import { Image } from 'astro:assets';
import elsaAnna from '../assets/elsa-and-anna.jpg';

// const imageProgrammatic = await getImage({ src: elsaAnna, width: 500 });
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Image src={elsaAnna} height={200} alt="gdsgdf" format="avif" class="Hey" />

		<div>ESM shape: {JSON.stringify(elsaAnna)}</div>
	</body>
</html>
