---
import { Image } from 'astro:assets';
import astroImage from '../assets/astro.jpeg';

// const imageProgrammatic = await getImage({ src: astroImage, width: 500 });
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Image src={astroImage} height={200} alt="gdsgdf" format="avif" class="Hey" />

		<div>ESM shape: {JSON.stringify(astroImage)}</div>
	</body>
</html>
