name: Examples astro check

on:
  workflow_dispatch:
  push:
    branches:
      - main
  merge_group:
  pull_request:
    paths:
      - "examples/**"
      - ".github/workflows/check.yml"
      - "scripts/smoke/check.js"
      - "packages/astro/src/types/public/**"
      - "pnpm-lock.yaml"
      - "packages/astro/types.d.ts"

env:
  ASTRO_TELEMETRY_DISABLED: true
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  FORCE_COLOR: true

jobs:
  check:
    name: astro check
    runs-on: ubuntu-latest
    timeout-minutes: 7
    steps:
      - name: Check out repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Status
        run: git status

      - name: astro check
        run: pnpm run test:check-examples
