name: Continuous benchmark

on:
  workflow_dispatch:
  pull_request: 
    branches:
      - main
      - next
    paths:
      - 'packages/astro/src/**/*.ts'
      - 'benchmark/**'
  push:
    branches:
      - main
      - next
    paths:
      - 'packages/astro/src/**/*.ts'
      - 'benchmark/**'

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  FORCE_COLOR: true
  CODSPEED: true

jobs:
  codspeed:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check out repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build
        
      - name: Setup benchmark projects
        working-directory: ./benchmark
        run: pnpm run build:bench
        timeout-minutes: 15
        
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@76578c2a7ddd928664caa737f0e962e3085d4e7c # v3.8.1
        timeout-minutes: 30
        with:
          working-directory: ./benchmark
          run: pnpm bench
          token: ${{ secrets.CODSPEED_TOKEN }}
