name: Continuous benchmark

on:
  workflow_dispatch:
  pull_request: 
    branches:
      - main
    paths:
      - 'packages/astro/src/**/*.ts'
      - 'benchmark/**'
  push:
    branches:
      - main
    paths:
      - 'packages/astro/src/**/*.ts'
      - 'benchmark/**'

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  FORCE_COLOR: true
  CODSPEED: true

jobs:
  codspeed:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup PNPM
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build
        
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@0010eb0ca6e89b80c88e8edaaa07cfe5f3e6664d # v3.5.0
        timeout-minutes: 30
        with:
          working-directory: ./benchmark
          run: pnpm bench
          token: ${{ secrets.CODSPEED_TOKEN }}
               
