name: Continuous benchmark

on:
  workflow_dispatch:
  pull_request: 
    branches:
      - main
    paths:
      - 'packages/astro/src/**/*.ts'
      - 'benchmark/**'
  push:
    branches:
      - main
    paths:
      - 'packages/astro/src/**/*.ts'
      - 'benchmark/**'

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  FORCE_COLOR: true
  CODSPEED: true

jobs:
  codspeed:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [ "1/4","2/4", "3/4", "4/4" ]
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.13.0
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build
        
      - name: Setup benchmark projects
        working-directory: ./benchmark
        run: pnpm run build:bench
        timeout-minutes: 15
        
      - name: Run the benchmarks
        uses: CodSpeedHQ/action@fa0c9b1770f933c1bc025c83a9b42946b102f4e6 # v4.10.4
        timeout-minutes: 30
        with:
          working-directory: ./benchmark
          run: pnpm bench --shard=${{ matrix.shard }}
          token: ${{ secrets.CODSPEED_TOKEN }}
          mode: simulation
