# This workflow runs when changes to examples are pushed to main.
# It calls a build hook on Netlify that will redeploy preview.astro.new with the latest changes.

name: Redeploy preview.astro.new

on:
  push:
    branches: 
      - main
    paths: 
      - 'examples/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Send a POST request to Netlify to rebuild preview.astro.new
        run: 'curl -X POST -d {} ${{ env.BUILD_HOOK }}'
        env:
          BUILD_HOOK: ${{ secrets.NETLIFY_PREVIEWS_BUILD_HOOK }}
